<aside class="col-lg-4">
    <div class="box_general_3 border-0 booking">
        <ul class="list-group">
            <li class="list-group-item {% if request.resolver_match.url_name == 'profile' %} item-active {% endif %}">
                <i class="icon-user-7 m-l-5"></i><a href="{% url 'core:profile' %}">اطلاعات کاربری</a>
            </li>
            <li class="list-group-item">
                <i class="icon-calendar-7 m-l-5"></i><a href="#">نوبت های من</a>
            </li>
            <li class="list-group-item">
                <i class=" icon-newspaper-1 m-l-5"></i><a href="#">سوابق من</a>
            </li>
            <li class="list-group-item {% if request.resolver_match.app_name == 'wallet' %} item-active {% endif %}">
                <i class="icon-wallet m-l-5"></i><a href="{% url 'wallet:wallet_dashboard' %}">کیف پول <span
                    class="m-r-70">{{ wallet.balance }} تومان </span></a>
            </li>
            <li class="list-group-item">
                <i class="icon-comment-empty m-l-5"></i><a href="#">نظرات من</a>
            </li>
            <li class="list-group-item">
                <i class="icon-logout-1 m-l-5"></i><a href="#">خروج</a>
            </li>
        </ul>
    </div>
</aside>