{% extends  'base/base.html' %}
{% load static %}
{% block body %}
    <div class="bg-light">
        <div class="container margin_120_95">
            <div class="row">
                {% include  'account/dashbord_sidebar.html' %}
                <!-- /col -->
                <div class="col-lg-8 ml-auto">
                    <div class="box_form border-0">
                        <form>
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>نام</label>
                                        <input type="text" class="form-control" placeholder=" نام خود را بنویسید">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>نام خانوادگی</label>
                                        <input type="text" class="form-control"
                                               placeholder="نام خوانوادگی خود را بنویسید">
                                    </div>
                                </div>
                            </div>
                            <!-- /row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>کد ملی</label>
                                        <input type="text" class="form-control" placeholder="کد ملی خود را وارد کنید">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>ایمیل (اختیاری)</label>
                                            <input type="text" class="form-control"
                                                   placeholder="ایمیل خود را وارد کنید">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>شماره تلفن</label>
                                        <input type="text" class="form-control" placeholder="09188028729" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>جنسیت</label>
                                        <select class="form-control">
                                            <option value="">جنسیت را انتخاب کنید</option>
                                            <option value="">مرد</option>
                                            <option value="">زن</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>سن</label>
                                        <input type="text" class="form-control" placeholder="سن خود را بنویسید">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>شهر</label>
                                        <select class="form-control">
                                            <option value="">همدان</option>
                                            <option value="">ملایر</option>
                                            <option value="">اسدآباد</option>
                                            <option value="">نهاوند</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- /row -->
                            <p class="text-center"><input type="submit" class="btn_1" value="ثبت اطلاعات"></p>
                        </form>
                    </div>
                    <!-- /box_form -->
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /hero_register -->

{% endblock %}