{% extends  'base/base.html' %}
{% load static %}
{% block body %}

    {% block title %}<title>لیست تخصص ها | دکتر همدان</title>{% endblock %}
    <!-- Search -->
    {% include  'base/search.html' %}
    <!-- /Search -->


    <div class="container margin_120_95 bg-light">
        <div class="main_title">
            <h4>لیست تمام تخصص ها</h4>
        </div>
        <div class="row justify-content-center">
            <section class="col-xl-12 col-lg-12 col-md-12">
                <div class="list_home">
                    <ul>
                        {% for specialization in specializations %}
                            <li><a href="{% url 'doctors:doctor_list' %}?specialty={{ specialization.name }}">
                                <strong>
                                    {% if specialization.image %}
                                        <img width="30" src="{{ specialization.image.url }}">
                                    {% endif %}
                                </strong>
                                {{ specialization.name }} </a></li>
                        {% empty %}
                            <li>تخصصی یافت نشد
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>


            <div class="main_title m-t-20">
                <h4>لیست تمام خدمات پزشکی و پرستاری در محل شما</h4>
            </div>
            <section class="col-xl-12 col-lg-12 col-md-12">
                <div class="list_home">
                    <ul>
                        {% for service in services %}
                        <li><a href="{% url 'homecare:request_service' service.id %}">
                            {% if service.icon %}
                                <img src="{{ service.icon.url }}" width="15" height="15">
                            {% endif %}
                            {{ service.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </div>

{% endblock %}