{#{% extends 'base/base.html' %}#}
{% block main %}
    {% load static %}
    <body onload="countdown();">
    <div class="limiter">
        <div class="container-login100" style="background-image: url({% static 'login/images/bk1.png' %});">
            <div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
                    فروشگاه لاین شاپ
				</span>
                <form class="login100-form p-b-33 p-t-5" method="post" id="code_form">
                    <p class="text-msg" dir="rtl"> پروفایلی با شماره تلفن وارد شده پیدا نشد برای عضویت کد تایید را وارد
                        کنید...!</p>
                    {% csrf_token %}
                    <div class="wrap-input100 validate-input">
                        {{ form.code }}
                        <span class="focus-input100" data-placeholder="✉"></span>
                    </div>

                    <div class="text-alert text-center" id="code_error">{{ form.code.errors }}</div>
                    {% for message in messages %}
                        <div class="text-alert text-center">!!! {{ message }}</div>
                    {% endfor %}

                    <div class="container-login100-form-btn m-t-32">
                        <div class="login100-form-btn" onclick="submit()">
                            تایید
                        </div>
                    </div>
                    <div class="text-back" style="display: flex; width:100%;
                justify-content:center; ">
                        <input id="minutes"
                               type="text"
                               style="width: 2%; border: none; font-size: 14px;
                      font-weight: bold; color: black;">
                        <font size="4">
                            :
                        </font>
                        <input id="seconds"
                               type="text"
                               style="width: 4%; border: none; font-size: 14px;
                      font-weight: bold; color: black;">
                    </div>
                    <div class="text-center">
                        <a class="text-back" href="{% url 'account:register' %}"><small>بازگشت</small></a>
                    </div>

                </form>
            </div>
        </div>
    </div>
    </body>
    <script>
        function submit() {
            let phone_item = document.getElementById('id_code')
            let value = phone_item.value

            if (value.length !== 4) {

                document.getElementById('id_code').className = 'input100 text-alert'
                document.getElementById('code_error').innerText = '!!کد تایید باید 4 رقم باشد'

            } else {

                document.getElementById('code_form').submit()
            }
        }


        let mins = 3;
        let secs = mins * 60;

        function countdown() {
            setTimeout('Decrement()', 60);
        }

        function Decrement() {
            if (document.getElementById) {
                minutes = document.getElementById("minutes");
                seconds = document.getElementById("seconds");
                if (seconds < 59) {
                    seconds.value = secs;
                } else {
                    minutes.value = getminutes();
                    seconds.value = getseconds();
                }
                if (mins < 1) {
                    minutes.style.color = "red";
                    seconds.style.color = "red";
                }
                if (mins < 0) {
                    {#alert('زمان کد یک بار مصرف به پایان رسید');#}
                    minutes.value = 0;
                    seconds.value = 0;
                } else {
                    secs--;
                    setTimeout('Decrement()', 1000);
                }
            }
        }

        function getminutes() {
            mins = Math.floor(secs / 60);
            return mins;
        }

        function getseconds() {
            return secs - Math.round(mins * 60);
        }

    </script>
{% endblock %}