{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find easily a doctor in Hamadan">
    <title>عضویت / ورود</title>

    <link rel="shortcut icon" href="{% static 'img/topicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/icon57x57.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'img/icon72x72.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'img/icon114x114.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/icon144x144.png' %}">
    
    <link href="{% static 'css/icon_fonts/css/all_icons_min.css' %}" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>

<body class="bg-gray-100">
    <div class="fixed inset-0 bg-black bg-opacity-50 hidden"></div>

    <div id="preloader" class="preloader-dr">
        <div data-loader="circle-side" class="preloader-circle"></div>
    </div>

    <main>
        <div class="bg-gray-100">
            <div class="margin-dr-60-35">
                <div id="login-2" class="max-w-md mx-auto">
                    <form>
                        <div class="box-dr clear-both">
                            <h6 class="text-dr-3 text-center">
                                <img src="{% static 'img/logo_small.png' %}" class="inline-block">
                                <hr class="my-2">ورود یا ثبت نام
                            </h6>
                            <div class="box-login-dr">
                                <div class="form-group-dr" dir="ltr">
                                    <label class="form-label-dr">شماره موبایل</label>
                                    <input type="number" class="form-control-dr" placeholder="09*********">
                                    <small class="text-gray-500 mt-1 block">برای ادامه لطفا شماره موبایل خود را وارد کنید</small>
                                </div>
                                <div class="form-group-dr">
                                    <a href="{% url 'core:check_code' %}" class="btn-dr btn-dr-primary w-full">دریافت کد تایید</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/common_scripts.min.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
</body>
</html>