{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find easily a doctor in Hamadan city">
    <meta name="enamad" content="49297402" />
    {% block title %}{% endblock %}
    <!-- Icons link -->
    <link rel="shortcut icon" href="{% static 'img/topicon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/icon57x57.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'img/icon72x72.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'img/icon114x114.png' %}">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/icon144x144.png' %}">
    <!-- /Icons link -->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/menu.css' %}" rel="stylesheet">
    <link href="{% static 'css/vendors.css' %}" rel="stylesheet">
    <link href="{% static 'css/icon_fonts/css/all_icons_min.css' %}" rel="stylesheet">
    <link href="{% static 'css/extra.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'css/util.css' %}" rel="stylesheet">
    <link href="{% static 'css/persian-datepicker.min.css' %}" rel="stylesheet">
    {% block style %}

    {% endblock %}

</head>


<body>

<div class="layer"></div>


<div id="preloader">
    <div data-loader="circle-side"></div>
</div>
<!--  /Preload -->

<!-- Header -->
{% include 'base/header.html' %}
<!-- /Header -->

<!-- main -->
<main class="bg-white">

    {% block body %}



    {% endblock %}
    {% if not request.user.is_admin_chat %}
    {% include  'support/chat_widget.html' %}
    {% endif %}
</main>
<!-- /main -->

<!--footer-->
{% include 'base/footer.html' %}
<!--/footer-->


<div id="toTop"></div>
<a href="{% url 'chat:list_doctors' %}">
    <div id="online_visit">دریافت مشاوره آنلاین پزشکی</div>
</a>
<!-- /to top button -->




<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/main/more-items.js' %}"></script>
<script src="{% static 'js/main/horizontal-scroll.js' %}"></script>
<script>jQuery.noConflict();</script>
<script src="{% static 'js/main/common_scripts.min.js' %}"></script>
<script src="{% static 'js/main/functions.js' %}"></script>
    <script src="{% static 'js/persian-date.min.js' %}"></script>
    <script src="{% static 'js/persian-datepicker.min.js' %}"></script>
    <script src="{% static 'js/main/p-date.js' %}"></script>
{% block extra_js %}

{% endblock %}

</body>

</html>