{% load static %}
<footer>
    <div class="bg_footer border-top">
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <p class="text-center">
                        <a href="/" title="DrHamedan">
                            <img src="{% static 'img/logo_bw_2x.png' %}" data-retina="true" alt="" width="233"
                                 height="36"
                                 class="img-fluid">
                        </a>
                    </p>
                    <ul class="p-t-20">
                        <li><span class="text-secondary"><img class="p-l-5"
                                                              src="{% static 'img/pic/headphones_4936026.png' %}"
                                                              width="25">پاسخگویی و پشتیبانی 24 ساعت 7 روز هفته</span>
                        </li>
                        <li class="p-t-20"><span class="text-secondary"><img class="p-l-5"
                                                                             src="{% static 'img/pic/pin-point_9753614.png' %}"
                                                                             width="25">استان همدان ، کوی استادان ، خیابان شرقی اول</span>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-3 col-md-4 p-r-150">
                    <h5>لینک های مفید</h5>
                    <div class="row">
                        <div class="col-6 col-md-12">
                            <ul class="links">
                                <li><a href="{% url 'login' %}">ورود </a></li>
{#                                <li><a href="#">ورود پزشکان</a></li>#}
                                <li><a href="#">ثبت نام پزشکان</a></li>
                                <li><a href="{% url 'mag:list' %}">محله سلامت</a></li>
{#                                <li><a href="{% url 'core:special_list' %}">لیست تخصص ها</a></li>#}
{#                                <li><a href="{% url 'core:special_list_dr' %}">مشاوره تلفنی</a></li>#}
                            </ul>
                        </div>
                        <div class="col-6 col-md-12">
                            <ul class="links">
                                <li><a href="{% url 'clinics:clinic_list' %}">لیست مراکز درمانی</a></li>
                                <li><a href="{% url 'about:about_us' %}">درباره ما</a></li>
                                <li><a href="{% url 'about:contact_us' %}">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 p-r-100">
                    <div class="follow_us">
                        <h5>گواهینامه ها</h5>
                        <ul>
                            <li><a href="#"><img class="border bg-light rounded"
                                                 src="{% static 'img/dr/samandehi.webp' %}" width="60" height="60"></a>
                            </li>
                            <li><a href="#"><img class="border bg-light rounded"
                                                 src="{% static 'img/dr/virtual.webp' %}" width="60" height="60"></a>
                            </li>
                            <li><a href="#"><img class="border bg-light rounded"
                                                 src="{% static 'img/dr/enamad.webp' %}" width="60" height="60"></a>
                            </li>
                        </ul>
                    </div>
                    <h5 class="p-t-25">راه های ارتباطی</h5>
                    <ul class="contacts">
                        <li><a href=""><i class="icon-phone-squared"></i>{{ contact.phone_number }}</a></li>
                        <li><a href="mailto:{{ contact.email }}">{{ contact.email }}<i
                                class="icon_mail p-l-5"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="follow_us text-center">
                <ul>
                    <li><a href="{{ contact.instagram }}"><i class="icon-instagram-2"></i></a></li>
                    <li><a href="{{ contact.email }}"><i class="icon_mail"></i></a></li>
                    <li><a href="{{ contact.whatsapp }}"><i class="icon-chat-inv"></i></a></li>
                    <li><a href="{{ contact.telegram }}"><i class="icon-paper-plane-1"></i></a></li>


                </ul>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div id="copy" class="text-center">〄 تمامی حقوق این وبسایت مربوط به دکتر همدان است</div>
                </div>
            </div>
        </div>
    </div>
</footer>