{% load static %}
<style>

</style>
<header class="header_sticky">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div id="logo_home">
                    <h1><a href="/" title="DrHamedan">DrHamedan</a></h1>
                </div>
            </div>
            <nav class="col-lg-9 col-6">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="#0"><span>Menu mobile</span></a>
                <ul id="top_access">
                    <li><a href="{% url 'core:profile' %}"><i class="pe-7s-user text_dr_2"></i></a></li>
                </ul>
                <div class="main-menu">
                    <ul>
                        <li>
                            <a href="#0">نوبت دهی آنلاین</a>
                        </li>
                        <li class="submenu">
                            <a href="#" class="show-submenu">تخصص ها<i class="icon-down-open-mini"></i></a>
                            <ul>
                                <li><a href="#"><img src="{% static 'img/pic/heart_8358516.png' %}"
                                                     style="margin-left: 10px" width="25">قلب و عروق</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/lungs_1881231.png' %}"
                                                     style="margin-left: 10px" width="25">ریه</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/bone_7749003.png' %}"
                                                     style="margin-left: 10px" width="25">ارتوپدی</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/kidney_2518743.png' %}"
                                                     style="margin-left: 10px" width="25">اورولوژی</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/x-ray_18237493.png' %}"
                                                     style="margin-left: 10px" width="25">رادیولوژی</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/creativity_15557951.png' %}"
                                                     style="margin-left: 10px" width="25">مغز و اعصاب</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/dissection_2511032.png' %}"
                                                     style="margin-left: 10px" width="25">جراحی عمومی</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/allergy-shots_6701610.png' %}"
                                                     style="margin-left: 10px" width="25">بیهوشی</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/jaw-contouring_3828729.png' %}"
                                                     style="margin-left: 10px" width="25">فک و صورت</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/heart_8358516.png' %}"
                                                     style="margin-left: 10px" width="25">گوش و حلق و بینی</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/medical_16649783.png' %}"
                                                     style="margin-left: 10px" width="25">زنان و زایمان</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/heart_8358516.png' %}"
                                                     style="margin-left: 10px" width="25">داخلی</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/science_10666848.png' %}"
                                                     style="margin-left: 10px" width="25">دندانپزشکی</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/radiotherapy_8358522.png' %}"
                                                     style="margin-left: 10px" width="25">رادیوتراپی</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/hydration-bladder_1810047.png' %}"
                                                     style="margin-left: 10px" width="25">مجاری</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/8358615.png' %}"
                                                     style="margin-left: 10px" width="25">نمونه برداری</a></li>
                                <li><a href="#"><img src="{% static 'img/pic/stethoscope_4068895.png' %}"
                                                     style="margin-left: 10px" width="25">پزشک عمومی</a></li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="#0">مشاوره آنلاین</a>

                        </li>
                        <li><a href="{% url 'core:article_list' %}">مجله پزشکی</a></li>
                        <li><a href="{% url 'core:clinic_list' %}">مراکز درمانی</a></li>
                        <li><a href="" class="text_dr_2">برای پزشکان</a></li>
                    </ul>
                </div>
                <!-- /main-menu -->
            </nav>
        </div>
    </div>

    <!-- /container -->
</header>
<!-- /header -->
<!-- mobile footer -->
<div class="bottom-nav" id="bottom-nav">
    <a href="/" class="nav-item active">
        <i class="icon-hospital text-dr"></i>
        <span>خانه</span>
    </a>

    <a href="" class="nav-item">
        <i class="icon-blogger text-dr"></i>
        <span>وبلاگ</span>
    </a>
    <a href="" class="nav-item {% if request.resolver_match.url_name == 'turn_days' %}active{% endif %}">
        <i class="icon-users text-dr"></i>
        <span>نوبت ها</span>
    </a>
    <a href="" class="nav-item">
        <i class="icon-users-2 text-dr"></i>
        <span>پروفایل</span>
    </a>
</div>

<script>
    window.addEventListener("scroll", function () {
        var bottomNav = document.getElementById("bottom-nav");
        var scrollPosition = window.scrollY + window.innerHeight; // موقعیت کنونی اسکرول

        // بررسی که آیا به انتهای صفحه نزدیک شده‌ایم
        if (document.documentElement.scrollHeight - scrollPosition <= 20) {
            bottomNav.style.bottom = "270px"; // وقتی به انتها رسیدیم 20 پیکسل بالاتر از پایین قرار بگیرد
            bottomNav.className = 'bottom-nav r'

        } else {
            bottomNav.style.bottom = "0"; // وقتی پایین صفحه نیستیم، در پایین باقی بماند
            bottomNav.className = 'bottom-nav'
        }
    });
</script>
<!-- /mobile footer -->