<div class="filters_listing">
    <div class="container">
        <ul class="clearfix">
            <form method="post" action="">
                <div id="custom-search-input">
                    <div class="input-group">
                        <input type="text" class="search-query" placeholder="نام یا تخصص....">
                        <input type="submit" class="btn_search" style="border-radius: 50px" value="جستجو">
                    </div>
                </div>
            </form>
        </ul>
    </div>
</div>