<div class="filters_listing">
    <div class="container">
        <ul class="clearfix">
            <form method="get" action="{% url 'doctors:doctor_list' %}">
                <div id="custom-search-input">
                    <div class="input-group">
                        <div style="display: flex; align-items: center; width: 100%;">
                            <select class="search-query" name="specialty" id="special">
                                <option value="" > همه تخصص‌ها </option>
                                {% for spec in specializations %}
                                    <option value="{{ spec.name }}"
                                            {% if request.GET.specialty == spec.name %}selected{% endif %}>
                                        {{ spec.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="text" name="query" id="query" value="{{ request.GET.query }}"
                                   class="search-query" placeholder="نام پزشک یا متخصص...."
                                   style="flex-grow: 1; border-radius: 50px 0 0 50px; margin-right: -1px;">

                            <input type="submit" class="btn_search" style="border-radius: 50px;" value="جستجو">
                        </div>
                    </div>
                </div>
            </form>
        </ul>
    </div>
</div>
