{% extends  'base/base.html' %}
{% load static %}
{% block body %}
    <section class="bg-light">
        <div class="container margin_120_95">
            <div class="row">
                <aside class="col-lg-4">
                    <div class="box_general_5 border-0 booking">

                       <ul class="list-group"
        >
            <li class="list-group-item rounded-0">
                <img src="{% static 'img/user.png' %}" width="50">
                <span class="p-r-10"> {% if user.name %}{{ user.get_full_name }} <br> <small>{{ user.phone }}</small>{% else %}{{ user.phone }}{% endif %} </span>

            </li>
            <li class="list-group-item {% if request.resolver_match.url_name == 'patient_dashboard' %} item-active {% endif %}">
                <i class="icon-menu-3 m-l-5 "></i><a href="{% url 'patients:patient_dashboard' %}">داشبورد</a>
            </li>
            <li class="list-group-item {% if request.resolver_match.url_name == 'patient_profile' %} item-active {% endif %}">
                <i class="icon-user-7 m-l-5"></i><a href="{% url 'patients:patient_profile' %}">اطلاعات
                کاربری</a>
            </li>
            <li class="list-group-item {% if request.resolver_match.url_name == 'patient_appointments' %}item-active{% endif %}">
                <i class="icon-calendar-7 m-l-5 "></i><a
                    href="{% url 'patients:patient_appointments' %}">نوبت های من</a>
            </li>
            <li class="list-group-item {% if request.resolver_match.app_name == 'wallet' %} item-active {% endif %}">
                <i class="icon-wallet m-l-5"></i><a href="{% url 'wallet:wallet_dashboard' %}">کیف پول
                <span
                        class="m-r-70"> {{ balance|floatformat:2 }} تومان  </span></a>
            </li>
            <li class="list-group-item {% if request.resolver_match.url_name == 'comments' %}item-active{% endif %}">
                <i class="icon-comment-empty m-l-5"></i><a href="{% url 'patients:comments' %}">نظرات من</a>
            </li>
            <li class="list-group-item">
                <i class="icon-logout-1 m-l-5"></i><a href="{% url 'logout' %}">خروج</a>
            </li>
        </ul>
                    </div>
                </aside>


                <div class="col-lg-8 ml-auto d-none d-lg-block">
                    <div class="box_form border-0 row">
                        <h6>{{ user.phone }}</h6>
                        <p>از اینجا می‌توانید نوبت‌های خود را مدیریت کنید، سوابق پزشکی خود را مشاهده کنید و اطلاعات
                            پروفایل خود را به‌روزرسانی کنید.</p>
                    </div>
                    <div class="box_form border-0 row">
                        <a href="{% url 'doctors:doctor_list' %}" class="box_dashboard bg-light-green">
                            <h6><i class="icon-calendar-empty"></i> رزرو نوبت </h6>
                            <small>پزشک مورد نظر خود را پیدا کنید و نوبت جدید بگیرید</small>
                        </a>
                        <a href="{% url 'patients:patient_appointments' %}" class="box_dashboard bg-light-blue">
                            <h6><i class="icon-calendar-inv"></i> مشاهده نوبت ها </h6>
                            <small>همه نوبت های برنامه ریزی شده خود را ببینید</small>
                        </a>
                        <a href="{% url 'patients:patient_profile' %}" class="box_dashboard bg-light-yellow">
                            <h6><i class="icon-doc-text"></i> به روزرسانی پروفایل </h6>
                            <small>اصلاعات خود را به روز کنید</small>
                        </a>
                        <a href="{% url 'clinics:clinic_list' %}" class="box_dashboard bg-light-violet">
                            <h6><i class="icon-hospital"></i> مراکز درمانی </h6>
                            <small>جست و جو در مراکز درمانی شهر شما</small>
                        </a>
                        <div class="review-box col-12 m-t-15">
                            <h6><i class="icon-info-circled-alt"></i>نوبت های پیش رو </h6>
                            {% if upcoming_appointments %}
                                <div class="text-left">
                                    <a href="{% url 'patients:patient_appointments' %}?status=upcoming">مشاهده همه</a>
                                </div>
                                {% for appointment in upcoming_appointments %}
                                    <div class="strip_list wow fadeIn border-0 bg-bluelight">
                                        <figure>
                                            <img class="rounded" src="{{ appointment.doctor.profile_image.url }}"
                                                 alt="{{ appointment.doctor }}">
                                        </figure>
                                        <small>
                                            <span class="bg-light rounded fs-10">{{ appointment.doctor.specialization }}</span>
                                        </small>
                                        <h3>دکتر {{ appointment.doctor.user.last_name }}</h3>
                                        <small class="text-sm-right"><i
                                                class="icon-calendar"></i>{{ appointment.day.date|date:"Y/m/d" }}
                                            ساعت {{ appointment.time|time:"H:i" }}</small>
                                        <ul>
                                            <li><a class="p-l-10 p-r-10 small bg-light-yellow rounded-10"
                                                   href="{% url 'reservations:view_appointment' appointment.id %}">مشاهده
                                                جزئیات</a></li>
                                            <li><span
                                                    class="p-l-10 p-r-10 fs-10 rounded-10    {% if appointment.status == 'confirmed' %}bg-light-green
                                            {% elif appointment.status == 'pending' %}bg-light-yellow
                                            {% endif %}">
                                            {% if appointment.status == 'confirmed' %}تایید شده
                                            {% elif appointment.status == 'pending' %}در انتظار
                                            {% endif %}</span></li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="text-center">هنوز نوبت فعالی ندارید!</p>

                            {% endif %}
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section>

{% endblock %}