{% load static %}
<aside class="col-lg-4 d-none d-md-flex">
    <div class="box_general_3 border-0 booking">
        <ul class="list-group"
        >
            <li class="list-group-item rounded-0">
                <img src="{% static 'img/user.png' %}" width="50">
                <span class="p-r-10"> {% if user.name %}{{ user.get_full_name }} <br>
                    <small>{{ user.phone }}</small>{% else %}{{ user.phone }}{% endif %} </span>

            </li>
            <li class="list-group-item {% if request.resolver_match.url_name == 'patient_dashboard' %} item-active {% endif %}">
                <i class="icon-menu-3 m-l-5 "></i><a href="{% url 'patients:patient_dashboard' %}">داشبورد</a>
            </li>
            <li class="list-group-item {% if request.resolver_match.url_name == 'patient_profile' %} item-active {% endif %}">
                <i class="icon-user-7 m-l-5"></i><a href="{% url 'patients:patient_profile' %}">اطلاعات
                کاربری</a>
            </li>
            <li class="list-group-item {% if request.resolver_match.url_name == 'patient_appointments' %}item-active{% endif %}">
                <i class="icon-calendar-7 m-l-5 "></i><a
                    href="{% url 'patients:patient_appointments' %}">نوبت های من</a>
            </li>
            <li class="list-group-item {% if request.resolver_match.app_name == 'wallet' %} item-active {% endif %}">
                <i class="icon-wallet m-l-5"></i><a href="{% url 'wallet:wallet_dashboard' %}">کیف پول
                <span
                        class="m-r-70"> {{ balance|floatformat:2 }} تومان  </span></a>
            </li>
            <li class="list-group-item {% if request.resolver_match.url_name == 'comments' %}item-active{% endif %}">
                <i class="icon-comment-empty m-l-5"></i><a href="{% url 'patients:comments' %}">نظرات من</a>
            </li>
            <li class="list-group-item {% if request.resolver_match.url_name == 'homecare_request_list' %}item-active{% endif %}">
                <i class="icon-stethoscope m-l-5"></i><a href="{% url 'patients:homecare_request_list' %}">خدمات پزشکی
                و پرستاری در محل</a>
            </li>
            <li class="list-group-item">
                <i class="icon-logout-1 m-l-5"></i><a href="{% url 'account:logout' %}">خروج</a>
            </li>
        </ul>
    </div>
</aside>