@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/*-------------- Added Fonts --------------*/
@font-face {
    font-family: 'Anjoman';
    font-weight: 300;
    src: url('../fonts/Anjoman-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Anjoman';
    font-weight: 400;
    src: url('../fonts/Anjoman-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Anjoman';
    font-weight: 500;
    src: url('../fonts/Anjoman-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Anjoman';
    font-weight: 700;
    src: url('../fonts/Anjoman-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Anjoman';
    font-weight: 900;
    src: url('../fonts/Anjoman-Heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'Farsan';
    src: url('../fonts/Farsan-Regular.ttf') format('ttf');  
}

/*-------------- Base Styles --------------*/
body {
    scroll-behavior: smooth;
    font-family: 'Anjoman', sans-serif;
    font-weight: 500;
    
    /* Persian numeral formatting */
    font-feature-settings: "ss05";
}

/*-------------- Base Styles --------------*/
@layer base {
    html {
        @apply scroll-smooth;
    }
    

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold text-primary-500;
    }

    a {
        @apply transition-colors duration-200 hover:text-primary-400 text-gray-600;
    }

    input, select, textarea {
        @apply border border-custom-gray-300 border-b-3 p-2 text-base w-full;
        font-family: 'Roboto', sans-serif;
    }

    textarea {
        @apply h-20;
    }

    select {
        @apply w-full;
    }

    input[type=submit], .button {
        @apply bg-primary-500 text-white px-5 py-2 rounded-lg uppercase border-none hover:bg-primary-400 transition-colors;
    }

    .secondary-button {
        @apply border-3 border-primary-500 px-5 py-2 hover:border-primary-400;
    }
}

/*-------------- Components --------------*/
@layer components {
    .sidbar {
        @apply w-full lg:w-1/5  xl:w-1/6 text-center;
    }

    .success_btn{
        @apply bg-green-500/50 text-black font-bold px-6 py-2 shadow shadow-black rounded-lg text-sm  hover:bg-accent-600/25 transition;
    }
    .secondary_btn{
        @apply bg-primary-500/50 text-black font-bold px-6 py-2 shadow shadow-black rounded-lg text-sm hover:bg-primary-400/50 transition
    }
    .gray_btn{
        @apply bg-gray-500 text-white px-6 py-2 rounded-full text-sm shadow-md hover:bg-gray-600 transition
    }
    .sidli {
        @apply rounded-lg shadow shadow-black m-4 flex justify-around items-center py-4
    }
    .selected{
       @apply sidli bg-gray-200
    }
    /* Roboto-based components */
    .roboto-section {
        font-family: 'Roboto', sans-serif;
        @apply font-normal text-custom-gray-900;
        
        h1, h2, h3, h4, h5, h6 {
            @apply font-light;
        }
    }

    .module {
        @apply p-4 w-full lg:w-3/4  xl:w-4/5 grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-4;
    }
    .solidpage{
        @apply w-full text-center
    }

    #header {
        @apply bg-primary-500 overflow-auto p-4 border-b-6 border-primary-600;
    }

    .contents {
        @apply w-full md:w-1/5 p-2 float-left bg-custom-gray-900 text-white;
        
        ul {
            @apply float-left w-full p-0 m-0 list-none;
            
            li {
                @apply m-0 mb-2 p-1 overflow-auto cursor-move;
                
                &:hover, &.selected {
                    @apply accent-gray-500;
                }
            }
        }
    }

    .course-info {
        @apply border border-custom-gray-300 p-4 mb-2 w-full md:w-[400px] overflow-auto;
    }

    /* Chat styles */
    #chat {
        @apply fixed top-16 bottom-0 w-full overflow-y-auto pb-40;
        
        .message {
            @apply bg-custom-gray-100 p-4 rounded inline-block float-left clear-both mx-2 mt-2 min-w-[440px];
            
            &.me {
                @apply float-right bg-primary-100 text-primary-600;
            }
        }
    }

    #chat-input {
        @apply absolute bottom-0 bg-custom-gray-100 w-full pt-4;
        
        input {
            @apply w-[96%] mx-[2%];
        }
    }
}

/*-------------- Utilities --------------*/
@layer utilities {
    /* RTL utilities */
    .box-deck {
        @apply gap-6 2xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 grid;
      }
      .box {
        @apply shadow-lg rounded-3xl bg-white max-w-md mx-auto w-full md:w-[300px] ;
      }
    .rtl-rotate {
        transform: rotateY(180deg);
    }

    .persian-num {
        font-feature-settings: "ss05";
    }

    /* Content modules */
    .content-modules {
        li {
            @apply even:bg-custom-gray-100 hover:bg-custom-gray-300 p-4 overflow-auto cursor-move;
        }
    }

    /* Form elements */
    .helptext {
        @apply text-custom-gray-500 pl-4;
    }

    .errorlist {
        @apply text-red-700 m-0;
    }
}