{% extends  'base/base.html' %}
{% load static %}
{% block body %}
    {% load html_decode %}
    {% block title %}<title>مجله پزشکی | دکتر همدان</title>{% endblock %}
    <!-- Search -->
    <div class="filters_listing">
        <div class="container">
            <ul class="clearfix">
                <form method="get" action="{% url 'mag:list' %}">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <div style="display: flex; align-items: center; width: 100%;">
                                <input type="text" name="query" id="query" value="{{ request.GET.query }}"
                                       class="search-query" placeholder="جست و جو کنید..."
                                       style="flex-grow: 1; border-radius: 50px; margin-right: -1px;">

                                <input type="submit" class="btn_search" style="border-radius: 50px;" value="جستجو">
                            </div>
                        </div>
                    </div>
                </form>
            </ul>
        </div>
    </div>
    <!-- /Search -->


    <div class="container margin_60">
        <!--Mag-Banner-->
        <div class="main_title">
            <img class="banner-blog" src="{% static 'img/dr/431-4316672_health-and-wellness-banner.png' %}">
        </div>
        <!--/Mag-Banner-->

        <div class="row">
            <!--aside -->
            <aside class="col-lg-3 aside-border ">
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="icon-article-alt-1"></i>آخرین مقاله ها</h4>
                    </div>
                    <ul class="comments-list">
                        {% for article in articles_last %}
                            <li>
                                <div class="alignleft">
                                    <a href="{{ article.get_absolute_url }}">
                                        {% if article.image %}
                                            <img src="{{ article.image.url }}" alt="">
                                        {% endif %}
                                    </a>
                                </div>
                                <h3><a href="{{ article.get_absolute_url }}" title="">{{ article.title }}</a></h3>
                                <small>{{ article.description|truncatechars:60|html_decode|safe }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget">
    <div class="widget-title">
        <h4><i class="icon-tags-1"></i>دسته بندی</h4>
    </div>
    <ul class="cats">
    {% for item in category %}
        <li>
            <a href="{% url 'mag:list' %}?category={{ item.name }}"{% if selected_category == item.name %} class="active"{% endif %}>
                {{ item.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

            </aside>
            <!--/aside -->

            <div class="col-lg-9">
                <!-- /article list -->
                {% for object in object_list %}
                    <article class="blog wow fadeIn">
                        <div class="row no-gutters">
                            <div class="col-lg-4">
                                <figure>
                                    <a href="{% url 'mag:article' object.slug %}">
                                        {% if object.image %}
                                            <img src="{{ object.image.url }}" alt="">
                                        {% endif %}
                                        <div class="preview"><span>مطالعه مقاله</span></div>
                                    </a>
                                </figure>
                            </div>
                            <div class="col-lg-8">
                                <div class="post_info">
                                    <h3><a href="{% url 'mag:article' object.slug %}">{{ object.title }}</a></h3>
                                    <p>{{ object.description|truncatewords:40|html_decode|safe }}</p>
                                    <ul>
                                        <li><i class="icon-feather"></i>{{ object.writer.get_full_name }}</li>
                                        <li><i class="icon-calendar-empty"></i>{{ object.date|persian_date_info }}</li>
                                        <li><i class="icon-comment-3"></i>{{ object.comments.count }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>

                {% empty %}

                    <h3 class="text-center">متاسفانه مقاله مورد نظر شما یافت نشد...!</h3>

                {% endfor %}
                <!-- /article list -->


                <!-- pagination -->
                <div>
                    <div class="add_top_20">
                        <ul class="pagination pagination-sm center-content" id="pagination">
                            <!-- آیتم‌های صفحه‌بندی به صورت داینامیک اضافه خواهند شد -->
                        </ul>
                    </div>
                </div>
                <!-- /pagination -->
            </div>

        </div>
    </div>

{% endblock %}


{% block extra_js %}
    <script>
        window.paginationConfig = {
            currentPage: {{ page_obj.number }},
            totalPages: {{ page_obj.paginator.num_pages }}
        };
    </script>
    <script src="{% static 'js/main/pagination.js' %}"></script>
{% endblock %}