{% load static %}
{% block style %}
<link href="{% static 'css/chat/widget.css' %}" rel="stylesheet">
{% endblock %}
<div id="chat-widget">
    <!-- آیکون چت -->
    <div id="chat-icon"><span class="status-indicator"></span>
       <i class="pe-7s-headphones fs-30" id="chat-toggle"></i>
    </div>

    <!-- محتوای چت -->
    <div id="chat-content">
        <div class="card">
            <div id="chat-header" class="dr_bg d-flex text-white rounded-top" style="height: 50px; cursor:pointer;">
                <i class="icon-cancel"></i>
                <p id="chat-toggle-icon p-r-50"><i class="m-t-15 pe-7s-headphones"></i> پشتیبانی دکترهمدان </p>

            </div>
            {% if request.user.is_authenticated %}
            <div id="chat-container" class="card-body p-0" style="height: 400px;width: 300px">
                <div id="chat-messages" class="p-3" style="height: calc(100% - 62px); background-color: #f8f9fa;overflow: auto!important;"></div>
                <div class="border-top p-2">
                    <form id="chat-form" class="d-flex">
                        <input type="text" id="chat-input" placeholder="پیام شما..." class="form-control rounded_pill" autocomplete="off" required>
                        <button type="submit" class="btn btn-scroll rounded50 icon-left-big text-secondary border justify-content-center p-t-10"></button>
                    </form>
                </div>
            </div>
            {% else %}
                <div id="chat-container" class="card-body p-0" style="height: 250px;width: 300px">
                <div class="border-top p-2">
                    <input disabled type="text"  placeholder="برای ارتباط با پشتیبانی وارد حساب خود شوید" class="form-control rounded_pill ">
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="{% static 'js/chat/chat-wiget.js' %}"></script>