{% extends  'base/base.html' %}
{% load static %}
{% block body %}

    <!-- Head -->
    <section class="hero_home version_2">
        <div class="content text-dark">
            <h4 class="text-info text-xl-center">نوبت آنلاین در دکتر همدان</h4>
            <p>
                برای پیدا کردن پزشک مورد نظر جست و جو کنید
            </p>
            <form method="get" action="{% url 'doctors:doctor_list' %}">
                <div id="custom-search-input">
                    <div class="input-group">
                        <!-- تغییرات اصلی اینجا اعمال شده -->
                        <div style="display: flex; align-items: center; width: 100%;">
                            <select class="search-query" name="specialty" id="specialty"
                                    style="border-radius: 0 50px 50px 0; border-left: none; width: 18%;font-size: 10px">
                                <option value="" >همه تخصص‌ها</option>
                                {% for spec in specializations %}
                                    <option value="{{ spec.name }}"
                                            {% if request.GET.specialty == spec.name %}selected{% endif %}>
                                        {{ spec.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="text" name="query" id="query" value="{{ request.GET.query }}"
                                   class="search-query" placeholder="نام پزشک یا متخصص...."
                                   style="flex-grow: 1; border-radius: 50px 0 0 50px; margin-right: -1px;">

                            <input type="submit" class="btn_search" style="border-radius: 50px;" value="جستجو">
                        </div>
                        <!-- پایان تغییرات -->
                    </div>

                    <ul class="text-success" style="text-shadow: none">
                        <li class="border_left p-l-5">
                            نوبت گیری از مطب
                        </li>
                        <li class="border_left p-l-5">
                            نوبت گیری از بیمارستان ها و درمانگاه
                        </li>
                        <li class="border_left p-l-5">
                            پوشش تمام استان همدان
                        </li>
                        <li class="" style="border: none">
                            صرفه جویی در زمان و حوصله
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </section>
    <!-- /Head -->


    <!-- Specialties section -->
    <section class="container margin_50_35 bg-gradiant">
        <div class="main_title">
            <p>دنبال چه تخصصی میگردید؟</p>
        </div>

        <div id="mainItems" class="row">
            {% for specialization in specializations %}
                <div class="col-lg-3 col-md-6">
                    <a href="{% url 'doctors:doctor_list' %}?specialty={{ specialization.name }}" class="box_cat_home">
                        <i class="icon-search-7"></i>
                        <img src="{{ specialization.image.url }}" width="60" height="60" alt="">
                        <h3>{{ specialization.name }}</h3>
                    </a>
                </div>
            {% empty %}
                <div class="col-lg-12 col-md-12">
                    <a href="" class="box_cat_home">
                        <i class="icon-search-7"></i>
                        <h3>تخصصی یافت نشد</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
        <!-- آیتم‌های مخفی که به صورت خودکار اینجا قرار میگیرن  -->
        <div id="extraItems" class="row p-t-10"
             style="height: 0; opacity: 0; overflow: hidden; transition: height 0.7s ease, opacity 0.5s ease;">

        </div>
        <div class="text-left">
                        <a href="{% url 'doctors:specializations' %}" class="ali">مشاهده لیست کامل تخصص ها<i class="icon-left-4"></i></a>
        </div>
        <!-- دکمه نمایش بیشتر -->
        <div class="text-center mt-4">
            <button id="showMoreBtn" class="btn btn-scroll" style="box-shadow: none">
                <i id="arrowIcon" class="icon-down-open" style="transition: transform 0.3s ease;"></i>
            </button>
        </div>
    </section>
    <!-- /Specialties section -->


    <!-- Top doctors -->
    <section>
        <div class="container margin_60_35 bg-gradiant2">
            <h3 class="text_dr">پزشکان دکتر همدان</h3>
            <div class="flex rounded">
                <button id="btnLeft1" class="left btn-scroll"><i class="icon-right-open-4"></i></button>
                <div class="scroll-container p-15" id="scrollContainer">
                    <div class="scroll-wrapper">
                        {% for doctor in doctors %}
                            <a href="{% url 'doctors:doctor_detail' doctor.pk %}" class="box_cat_home dr_box">
                                <img src="{{ doctor.profile_image.url }}" alt="{{ doctor.user.get_full_name }}"
                                     class="round50" width="80" height="80"
                                >
                                <h3>دکتر {{ doctor.user.get_full_name }}</h3>
                                <p>{{ doctor.specialization.name }}</p>
                                <div class="text-right text-info">
                                    <i class="icon-star-5"><small>{{ doctor.comment_rate }}</small></i>
                                    <small class="icon-location">{{ doctor.address }}</small>
                                    <p class="text-dark small p-t-10">اولین نوبت خالی <span class="text-success p-r-20">10 اسفند</span>
                                    <p class="text-dark small">زمان تقریبی انتظار <span
                                            class="text-success p-r-20">2 ساعت</span>
                                    </p>
                                    <button href="{% url 'doctors:doctor_detail' doctor.pk %}"
                                            class="btn btn-outline-success col-md-12">دریافت نوبت
                                    </button>
                                </div>
                            </a>
                        {% empty %}
                            <a href="#" class="box_cat_home dr_box">
                                <h3>پزشکی یافت نشد</h3>
                            </a>
                        {% endfor %}

                    </div>
                </div>
                <button id="btnRight1" class="right btn-scroll"><i class="icon-left-open-4"></i></button>
            </div>
                        <p class="text-center text_dr"><a href="{% url 'doctors:doctor_list' %}"> مشاهده همه پزشک ها <i class="icon-left-4"></i> </a></p>
        </div>
    </section>
    <!-- /Top doctors -->

    <!-- Online consultation -->
    <section hidden="hidden">
        <div class="container">
            <h3 class="text_dr">دریافت مشاوره آنلاین</h3>
            <div class="flex rounded">
                <button id="btnLeft2" class="left btn-scroll"><i class="icon-right-open-4"></i></button>
                <div class="scroll-container p-15" id="scrollContainer">
                    <div class="scroll-wrapper">
                        <a href="" class="box_cat_home dr_box">
                            <img src="{% static 'img/dr/dr5).jfif' %}" class="round50" width="80" height="80" alt="">
                            <h3>دکتر نیما شاهرخی</h3>
                            <p>فوق تخصص ستون فقرات</p>
                            <div class="text-right text-info">
                                <i class="icon-star-5"><small>4.3</small></i>
                                <p class="text-dark small">مدت زمان مشاوره <span
                                        class="text-info p-r-20">15 دقیقه</span>
                                <p class="text-dark small">پاسخگویی : <span class="text-info p-r-20">روی خط</span>
                                </p>
                                <button class="btn btn-outline-info col-md-12">دریافت مشاوره</button>
                            </div>
                        </a>
                    </div>
                </div>
                <button id="btnRight2" class="right btn-scroll"><i class="icon-left-open-4"></i></button>
            </div>
            <p class="text-center text_dr"><a href=""> مشاهده همه پزشک ها <i
                    class="icon-left-4"></i> </a></p>
        </div>
    </section>
    <!-- /Online consultation -->



    <!-- Doctors in every city -->
        <section>
            <div class="container margin_60_35 bg-gradiant text-center">
                <h4 class="text-secondary">پزشک های شهر شما</h4>
                <div class="flex rounded">
                    <button id="btnLeft3" class="left btn-scroll2"><i class="icon-right-open-4"></i></button>
                    <div class="scroll-container p-15" id="scrollContainer">
                        <div class="scroll-wrapper">
                            {% for city in cities %}
                            <a href="{% url 'doctors:doctor_list' %}?city={{ city.name }}" class="box_cat_home box_badges">
                                <h3>{{ city.name }}</h3>
                            </a>
                            {% empty %}
                            <a href="#" class="box_cat_home box_badges">
                                <h3>شهری یافت نشد</h3>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <button id="btnRight3" class="right btn-scroll2"><i class="icon-left-open-4"></i></button>
                </div>
            </div>

        </section>
    <!-- /Doctors in every city -->


    <!-- Clinics -->
    <section>
        <div class="container bg-gradiant2">
            <h3 class="text_dr">مراکز درمانی و کلینیک ها</h3>
            <div class="flex rounded">
                <button id="btnLeft4" class="left btn-scroll"><i class="icon-right-open-4"></i></button>
                <div class="scroll-container p-15" id="scrollContainer">
                    <div class="scroll-wrapper">
                        {% for clinic in clinics %}
                            <a href="{% url 'clinics:clinic_detail' clinic.pk %}" class="box_cat_home dr_box">
                                {% if clinic.logo %}
                                    <img src="{{ clinic.logo.url }}" alt="{{ clinic.name }}" class="rounded" width="250"
                                         height="100">
                                {% endif %}
                                <h3>{{ clinic.name }}</h3>
                                <p>مرکز جراحی محدود</p>
                                <div class="text-right text-info">
                                    <small class="icon-location">{{ clinic.address }}</small>
                                    <hr>
                                    <button class="btn btn-outline-warning col-md-12">مشاهده پروفایل</button>
                                </div>
                            </a>
                        {% empty %}
                            <a href="#" class="box_cat_home dr_box">
                                <h3>هیچ کلینیکی یافت نشد</h3>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <button id="btnRight4" class="right btn-scroll"><i class="icon-left-open-4"></i></button>
            </div>
                        <p class="text-center text_dr"><a href="{% url 'clinics:clinic_list' %}"> مشاهده همه مراکز <i class="icon-left-4"></i> </a></p>
        </div>

    </section>
    <!-- /Clinics -->

    <!-- Mag -->
    <section>
        <div class="container margin_120_95">
            <h3 class="text-success">مجله سلامت</h3>
            <div class="flex article_bg">
                <button id="btnLeft5" class="left btn-scroll"><i class="icon-right-open-4"></i></button>
                <div class="scroll-container p-15" id="scrollContainer">
                    <div class="scroll-wrapper">
                        {% for article in articles %}
                            <a href="{{ article.get_absolute_url }}" class="box_cat_home article_box">
                                <img src="{{ article.image.url }}" class="rounded" width="150" height="100" alt="">
                                <h3>{{ article.title }}</h3>
                                <p>{{ article.description|truncatechars:60 }}
                                </p>
                            </a>
                        {% endfor %}
                    </div>

                </div>

                <button id="btnRight5" class="right btn-scroll"><i class="icon-left-open-4"></i></button>
            </div>
                        <p class="text-left"><a href="{% url 'mag:list' %}" class="text-success">مشاهده همه مقاله ها <i class="icon-left-dir"></i></a>
            {#            </p>#}
        </div>
    </section>
    <!-- /Mag -->


    <!-- app_section -->
    <section id="app_section">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-6">
                    <h5>اپلیکیشن <strong>دکتر همدان</strong>!</h5>
                    <p class="lead">با استفاده از خدمات سلامت دیجیتال دکتر همدان، تجربه سریع و راحت از خدمات پزشکی داشته
                        باشید. نوبت‌دهی آنلاین، دریافت مشاوره به صورت تلفنی و استفاده از خدمات کلینیک‌ها و مراکز درمانی
                        از جمله خدمات ما هستند. همچنین برای تجربه بهتر در استفاده از خدمات ما بر روی تلفن همراه،
                        می‌توانید نرم‌افزار ما برای گوشی‌های اندروید را دریافت و نصب کنید.</p>
                    <div class="app_buttons wow m-b-20" data-wow-offset="100">
                        <a href="#0" class="fadeIn"><img class="rounded-5" src="{% static 'img/bazar.png' %}"
                                                         alt="" width="150"
                                                         height="50" data-retina="true"></a>
                        <a href="#0" class="fadeIn"><img class="rounded-5" src="{% static 'img/google_play_app.png' %}"
                                                         alt="" width="150"
                                                         height="50" data-retina="true"></a>
                    </div>

                </div>
                <div class="col-md-6 parent-container">
                    <p><img src="{% static 'img/pins/mobile2.png' %}" alt="" class="img-fluid" width="250" height="333">
                    </p>
                </div>
            </div>
            <div class="row p-t-25 border_top2">
                <div class="col-md-6">
                    <div class="box_faq">
                        <img src="{% static 'img/pic/headphones_4936044.png' %}" alt="" class="img-fluid" width="50"
                             height="433">
                        <h4>پشتیبانی آنلاین 24 ساعته 7 روز هفته</h4>
                        <p>در هر ساعت از شبانه روز که به مشکل خوردید نگران نباشید ما کنار شما هستیم!</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box_faq">
                        <img src="{% static 'img/pic/message_11255939.png' %}" alt="" class="img-fluid flex" width="50"
                             height="433">
                        <h4>پاسخ با سوالات شما</h4>
                        <p>تمام سوالاتی کع احتمال دادیم شما داشته باشید رو پاسخ دادیم!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="box_faq">
                        <img src="{% static 'img/pic/calendar_4814579.png' %}" alt="" class="img-fluid flex" width="50"
                             height="433">
                        <h4>دریافت نوبت آسان</h4>
                        <p>نوبت گیری توی همدان راحت تر از همیشه در دسترس شماست!</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box_faq">
                        <img src="{% static 'img/pic/rating_12765539.png' %}" alt="" class="img-fluid rounded flex"
                             width="50" height="433">
                        <h4 class="p-t-5">نظرات و امتیاز</h4>
                        <p>با دیدن نظرات و امتیازها انتخاب پزشک لذت بخش تر و راحت تره</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /app_section -->


{% endblock %}
