{% extends  'base/base.html' %}
{% load static %}
{% block body %}
 
        <div class="container margin_60">
        </div>
        <div class="container margin_120 box_form animation">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div id="confirm">
                        <div class="icon icon--order-success svg add_bottom_15">
                            <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72">
                                <g fill="none" stroke="#8EC343" stroke-width="2">
                                    <circle cx="36" cy="36" r="35"
                                            style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                                    <path d="M17.417,37.778l9.93,9.909l25.444-25.393"
                                          style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                                </g>
                            </svg>
                        </div>
                        {% if messages %}
                            <h2>نوبت با موفقیت رزرو شد</h2>
                            {% for message in messages %}
                                <p class="text-success font-weight-bold">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                        <a class="btn btn-light" href="{% url 'core:homepage' %}">صفحه اصلی</a>
                        <a href="{% url 'turn:turn_days' %}" class="btn btn-success">بازگشت به صفحه نوبت دهی</a>
                    </div>
                </div>
            </div>
        </div>
    <hr>
{% endblock %}