{% extends  'base/base.html' %}
{% load static %}
{% block body %}
    <div class="filters_listing">
        <div class="container">
            <ul class="clearfix">
                <form method="post" action="list.html">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="search-query" placeholder="نام یا تخصص....">
                            <input type="submit" class="btn_search" style="border-radius: 50px" value="جستجو">
                        </div>
                    </div>
                </form>
            </ul>
        </div>
    </div>
    <!-- /search -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-xl-8 col-lg-8 order-2 order-lg-1">
                <div id="section_1">
                    <div>
                        <div>
                            <!--/nav-tabs -->
                            <div class="tab-content box_general_3 p-m-1">
                                <div class="rev-header m-t-10">
                                    <button class="btn-scroll2"><i class="icon-right-open-1"></i>ماه قبل</button>
                                    <p>فروردین 1404</p>
                                    <button class="btn-scroll2 text-left">
                                        ماه بعد
                                        <i class="icon-left-open-1"></i>
                                    </button>
                                </div>
                                <div class="tab-pane fade show active text-center" id="book" role="tabpanel"
                                     aria-labelledby="book-tab">
                                    <div class="flex bg-bluelight p-t-20 p-b-0 rounded">
                                        <button class="btn-scroll2 icon-right-open-big" id="slideRight"
                                                type="button"></button>
                                        <div id="contain" class="form-group add_bottom_45 flex scrollable">
                                            {% for reserve_day in reservations_Day %}
                                                {% if reserve_day.date > today %}
                                                    <div id="{{ reserve_day.id }}" class="w-auto mx-2 my-2"
                                                         onclick="opener(this.id)">
                                                        <button class="btn btn-outline-dark spacer"
                                                                style="height: 70px;width: 80px ">
                                                            {{ reserve_day.date.jweekday_short }}
                                                            <br> {{ reserve_day.dateformat }}
                                                        </button>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <button id="slideLeft"
                                                class="btn-scroll2 icon-left-open-big "
                                                type="button"></button>
                                    </div>
                                    <div class="w-full m-t-20">
                                        {% for reserve_day in reservations_Day %}
                                            <div id="res_{{ reserve_day.id }}" class="h-auto w-auto mx-2 hidden ">
                                                <ul class="legend">
                                                    <li><strong></strong>نوبت های خالی</li>
                                                    <li><strong></strong>نوبت های رزرو شده</li>
                                                </ul>
                                                <div class="form-group add_bottom_45 row mx-4 turn-group">
                                                    {% for reserve in reserve_day.reservations.all %}
                                                        {% if reserve.patient == None %}
                                                            <button onclick="set_id({{ reserve.id }})"
                                                                    onclick="showFormModal()"
                                                                    class="btn btn-outline-success h-auto mx-2 my-2 w-11"
                                                                    id={{ reserve.id }}>{{ reserve.time.hour }}:{{ reserve.time|time:'i' }}</button>
                                                        {% else %}
                                                            <button class="btn btn-light h-auto mt-2 mb-2  mx-2 my-2 w-11"
                                                                    disabled>{{ reserve.time.hour }}:{{ reserve.time|time:'i' }}</button>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                
                                    <p id="date" class="text-success font-weight-light"></p>
                                    <div class="hidden" id="information">
                                        <div id="formModal" class="modal text-right hidden">
                                            <div class="modal-content">
                                                <span class="close" onclick="closeFormModal()">&times;</span>
                                                <form method="post" id="resform" style="margin-top: 20px">
                                                    {% csrf_token %}
                                                    <p class="text-right">لطفا جهت ثبت نوبت اطلاعات خود یا بیمار را وارد
                                                        کنید!</p>

                                                    <input type="hidden" id="resid" name="id">

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>نام<span class="text-danger">*</span></label>
                                                                {{ form.name }}
                                                                <small class="text-danger font-weight-light"
                                                                       id="name_alarm"></small>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>شماره موبایل<span
                                                                        class="text-danger">*</span></label>
                                                                {{ form.phone }}
                                                                <small class="text-danger font-weight-light"
                                                                       id="phone_alarm"></small>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>کد ملی<span class="text-danger">*</span></label>
                                                                {{ form.meli_code }}
                                                                <small class="text-danger font-weight-light"
                                                                       id="code_alarm"></small>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row rev-header">
                                                            <div class="col-auto">
                                                                <div class="custom-gender-toggle">

                                                                    <input type="radio" id="male-option" name="gender"
                                                                           value="M" checked>
                                                                    <label for="male-option">آقا هستم</label>
                                                                    <input type="radio" id="female-option" name="gender"
                                                                           value="F">
                                                                    <label for="female-option">خانم هستم</label>
                                                                    <div class="custom-slider"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12 centered ">
                                                            <div class="text-center bg-bluelight rounded m-t-15">
                                                                <span id="days" class="icon-calendar-3"></span>
                                                                <span>فروردین</span>
                                                                <span id="msg" class="hidden"></span>
                                                                <span id="time" class="icon-clock-8"></span>
                                                            </div>
                                                            <button onclick="submitform()" type="submit"
                                                                    class="btn btn-info dr_bg m-t-20 w-full rounded">ثبت
                                                                نوبت
                                                            </button>

                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <!-- aside -->
            <aside class="col-xl-4 col-lg-4 order-1 order-lg-2">
                <div class="profile box_general_3">
                    <div class="row parent-container">
                        <div class="col-lg-12 col-md-4">
                            <figure>
                                <a class="dr_box2"><img src="{% static 'img/dr/dr1.jfif' %}" alt=""
                                                        class="dr_img">
                                    <i class="icon-star-5 text-primary"><small>4.3</small></i></a>
                            </figure>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="text-center">
                                <h1>دکتر نیما شهابی</h1>
                                <small>فوق تخصص قلب و عروق</small>
                            </div>
                        </div>

                        <a class="btn btn-outline-info col-lg-12" href="{% url 'core:dr_detail' %}">پروفایل پزشک</a>
                    </div>
                </div>
            </aside>
        <!-- aside -->
        </div>

    </div>

    <script>
        var resid = ""

        function opener(params) {
            let item = document.getElementById(params)
            let temp = item.cloneNode(true);
            let spans = temp.querySelectorAll('span');
            spans.forEach(span => span.remove());
            let day = temp.innerText.trim();
            let newresid = `res_${params}`;
            let newres = document.getElementById(newresid);
            let daysElement = document.getElementById("days");
            daysElement.textContent = ""; // حذف محتویات فعلی، شامل متن و اسپن‌ها
            daysElement.append(day);
            if (resid != "") {
                document.getElementById(`res_${resid}`).style.display = "none";
                document.getElementById("time").innerText = '';
            }
            newres.style.display = 'block';
            newres.classList.toggle('animation');
            resid = params;


        }

        function set_id(id) {
            document.getElementById("formModal").classList.remove("hidden");
            const item = document.getElementById(id);
            const clock = item.innerText;


            // تنظیم مقادیر عناصر مختلف
            const elements = {
                resid: id,
                date: 'none',
                information: 'block',
                time: clock,
                msg: 'text-success'
            };

            document.getElementById('resid').value = elements.resid;
            document.getElementById('date').style.display = elements.date;
            document.getElementById('information').style.display = elements.information;
            document.getElementById("information").classList.add('animation');
            document.getElementById("time").innerText = ' ' + elements.time;
            document.getElementById('msg').className = elements.msg;

        }


        function submitform() {
            const name_item = document.getElementById("id_name");
            const phone_item = document.getElementById("id_phone");
            const code_item = document.getElementById("id_meli_code");
            const time = document.getElementById('time');
            const msg = document.getElementById('msg');

            const val_name = name_item.value.trim();
            const val_phone = phone_item.value.trim();
            const val_code = code_item.value.trim();
            const val_time = time.innerText.trim();

            // تابع برای بازنشانی استایل‌ها و پیام‌ها
            function resetStyles() {
                const inputs = [name_item, phone_item, code_item];
                const alarms = ['name_alarm', 'phone_alarm', 'code_alarm'];

                inputs.forEach(input => input.className = 'form-control my-2');
                alarms.forEach(alarm => document.getElementById(alarm).innerText = '');
                msg.innerText = '';
                msg.className = '';
            }

            // تابع برای نمایش خطا
            function showError(input, alarmId, message) {
                input.className = 'border border-danger form-control';
                document.getElementById(alarmId).innerText = message;
            }

            resetStyles();

            if (val_name.length < 3) {
                showError(name_item, 'name_alarm', 'نام شما حداقل باید 3 حرف داشته باشد!');
            } else if (val_phone.length !== 11 || !/^0\d{10}$/.test(val_phone)) {
                showError(phone_item, 'phone_alarm', 'شماره تلفن باید 11 رقم باشد و با 0 شروع شود مثل (09120000000)');
            } else if (val_code.length !== 10 || !/^\d{10}$/.test(val_code)) {
                showError(code_item, 'code_alarm', 'کد ملی 10 رقمی صحیح وارد کنید!');
            } else if (!val_time) {
                msg.innerText = '(ساعت حضور را انتخاب کنید)';
                msg.className = 'text-danger font-AnjomanMax_Regular';
            } else {
                document.getElementById("resform").submit();
            }
        }


        const rightButton = document.getElementById('slideRight');
        const leftButton = document.getElementById('slideLeft');
        const contain = document.getElementById('contain');

        function scrollContainer(distance) {
            contain.scrollBy({
                left: distance,
                behavior: 'smooth'
            });
        }

        rightButton.addEventListener("mousedown", function () {
            scrollContainer(350);
        });

        leftButton.addEventListener("mousedown", function () {
            scrollContainer(-350);
        });

    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("#contain > div").forEach(dayDiv => {
                let dayId = dayDiv.id;
                let reservationContainer = document.getElementById("res_" + dayId);

                if (reservationContainer) {
                    let availableSlots = reservationContainer.querySelectorAll("button.btn-outline-success").length;
                    let button = dayDiv.querySelector("button"); // دکمه انتخاب تاریخ

                    if (button) {
                        let smallText = document.createElement("span");
                        smallText.style.fontSize = "10px"; // متن کوچک‌تر
                        smallText.style.display = "block"; // نمایش زیر متن اصلی

                        if (availableSlots === 0) {
                            smallText.innerText = "ظرفیت تکمیل";
                            smallText.style.color = "red"; // رنگ قرمز برای تاکید
                            button.disabled = true; // غیرفعال کردن دکمه
                            button.classList.remove("btn-outline-info");
                        } else {
                            smallText.innerText = ` ${availableSlots} نوبت خالی `;
                            smallText.style.color = "gray"; // نمایش تعداد نوبت‌های خالی به رنگ سبز
                        }

                        // جلوگیری از اضافه شدن چندباره متن
                        let existingSmallText = button.querySelector("span");
                        if (existingSmallText) {
                            existingSmallText.remove();
                        }
                        button.appendChild(smallText);
                    }
                }
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let firstAvailableDay = null;

            // بررسی تمام روزهایی که نوبت خالی دارند
            document.querySelectorAll("#contain > div").forEach(dayDiv => {
                let reservationContainer = document.getElementById("res_" + dayDiv.id);
                if (reservationContainer) {
                    let availableSlots = reservationContainer.querySelectorAll("button.btn-outline-success").length;
                    if (availableSlots > 0 && !firstAvailableDay) {
                        // ذخیره اولین روز با نوبت خالی
                        firstAvailableDay = dayDiv;
                    }
                }
            });
            // اگر اولین روز با نوبت خالی پیدا شد، اسکرول به آن برو
            if (firstAvailableDay) {
                firstAvailableDay.scrollIntoView({
                    behavior: 'smooth', // اسکرول به صورت روان
                    block: 'nearest',   // از پایین نیاید
                    inline: 'start'     // اسکرول افقی به ابتدای عنصر
                });
            }
        });
    </script>
    <script>
        function showFormModal() {
            document.getElementById("formModal").classList.remove("hidden");
        }

        function closeFormModal() {
            document.getElementById("formModal").classList.add("hidden");
        }
    </script>
{% endblock %}