{% extends  'base/base.html' %}
{% load static %}
{% block body %}
    <div class="filters_listing">
        <div class="container">
            <ul class="clearfix">
                <form method="post" action="list.html">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="search-query" placeholder="نام مرکز....">
                            <input type="submit" class="btn_search" style="border-radius: 50px" value="جستجو">
                        </div>
                    </div>
                </form>
            </ul>
        </div>
        <!-- /container -->
    </div>


    <div class="container margin_60_35">
        <div class="scroll-container">
            <div id="breadcrumb">
                <div class="container">
                    <p>پزشکانی که هم اکنون آنلاین هستند</p>
                    <ul class="scroll-container scroll-wrapper">
                        <li class="online-status">
                            <div class="drag-layer">
                                <img class="rounded50 border border-info" width="50" height="50"
                                     src="{% static 'img/dr/saeed.jpg' %}">
                                <span class="status-indicator"></span>
                            </div>
                        </li>

                        <li class="online-status">
                            <div class="drag-layer">
                                <img class="rounded50 border border-success" width="50" height="50"
                                     src="{% static 'img/dr/saeed.jpg' %}">
                                <span class="status-indicator"></span>
                            </div>
                        </li>
                        <li class="online-status">
                            <div class="drag-layer">
                                <img class="rounded50 border border-success" width="50" height="50"
                                     src="{% static 'img/dr/banner-img.png' %}">
                                <span class="status-indicator"></span>
                            </div>
                        </li>
                        <li class="online-status">
                            <div class="drag-layer">
                                <img class="rounded50 border border-success" width="50" height="50"
                                     src="{% static 'img/dr/download.jfif' %}">
                                <span class="status-indicator"></span>
                            </div>
                        </li>
                        <li class="online-status">
                            <div class="drag-layer">
                                <img class="rounded50 border border-success" width="50" height="50"
                                     src="{% static 'img/dr/download (2).jfif' %}">
                                <span class="status-indicator"></span>
                            </div>
                        </li>
                        <li class="online-status">
                            <div class="drag-layer">
                                <img class="rounded50 border border-success" width="50" height="50"
                                     src="{% static 'img/dr/download (3).jfif' %}">
                                <span class="status-indicator"></span>
                            </div>
                        </li>
                        <li class="online-status">
                            <img class="rounded50 border border-success" width="50" height="50"
                                 src="{% static 'img/dr/OIP (4).jfif' %}">
                            <span class="status-indicator"></span>
                        </li>
                        <li class="online-status">
                            <img class="rounded50 border border-success" width="50" height="50"
                                 src="{% static 'img/dr/OIP (3).jfif' %}">
                            <span class="status-indicator"></span>
                        </li>
                        <li class="online-status">
                            <img class="rounded50 border border-success" width="50" height="50"
                                 src="{% static 'img/dr/OIP (2).jfif' %}">
                            <span class="status-indicator"></span>
                        </li>
                        <li class="online-status">
                            <img class="rounded50 border border-success" width="50" height="50"
                                 src="{% static 'img/dr/OIP (1).jfif' %}">
                            <span class="status-indicator"></span>
                        </li>
                        <li class="online-status">
                            <img class="rounded50 border border-success" width="50" height="50"
                                 src="{% static 'img/dr/download (1).jfif' %}">
                            <span class="status-indicator"></span>
                        </li>
                        <li class="online-status">
                            <img class="rounded50 border border-success" width="50" height="50"
                                 src="{% static 'img/dr/saeed.jpg' %}">
                            <span class="status-indicator"></span>
                        </li>
                        <li class="online-status">
                            <img class="rounded50 border border-success" width="50" height="50"
                                 src="{% static 'img/dr/saeed.jpg' %}">
                            <span class="status-indicator"></span>
                        </li>
                        <li class="online-status">
                            <img class="rounded50 border border-success" width="50" height="50"
                                 src="{% static 'img/dr/saeed.jpg' %}">
                            <span class="status-indicator"></span>
                        </li>
                        <li class="online-status">
                            <img class="rounded50 border border-success" width="50" height="50"
                                 src="{% static 'img/dr/saeed.jpg' %}">
                            <span class="status-indicator"></span>
                        </li>
                        <li class="online-status">
                            <img class="rounded50 border border-success" width="50" height="50"
                                 src="{% static 'img/dr/saeed.jpg' %}">
                            <span class="status-indicator"></span>
                        </li>
                        <li class="online-status">
                            <img class="rounded50 border border-success" width="50" height="50"
                                 src="{% static 'img/dr/saeed.jpg' %}">
                            <span class="status-indicator"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <aside class="col-xl-3 col-lg-3" id="sidebar">
                <div class="box_general_3 booking">
                    <h6 class="text_dr_3"><i class="icon-filter-1"></i>فیلترها</h6>
                    <form>
                        <!-- تخصص -->
                        <div class="filter-section">
                            <button class="btn-filter" type="button" onclick="toggleDropdown('specialty', this)">
                                تخصص <span class="arrow"><i class="icon-angle-down"></i></span>
                            </button>
                            <ul id="specialty" class="filter-dropdown">
                                <li><input type="checkbox" class="custom-checkbox"> مغز و اعصاب</li>
                                <li><input type="checkbox" class="custom-checkbox"> رادیولوژی</li>
                                <li><input type="checkbox" class="custom-checkbox"> قلب و عروق</li>
                            </ul>
                        </div>

                        <!-- جنسیت -->
                        <div class="filter-section">
                            <button class="btn-filter" type="button" onclick="toggleDropdown('gender', this)">
                                جنسیت <span class="arrow"><i class="icon-angle-down"></i></span>
                            </button>
                            <ul id="gender" class="filter-dropdown">
                                <li><input type="radio" name="gender" class="custom-radio"> مرد</li>
                                <li><input type="radio" name="gender" class="custom-radio"> زن</li>
                            </ul>
                        </div>

                        <!-- مرتب‌سازی -->
                        <div class="filter-section">
                            <button class="btn-filter" type="button" onclick="toggleDropdown('sort', this)">
                                مرتب‌سازی <span class="arrow"><i class="icon-angle-down"></i></span>
                            </button>
                            <ul id="sort" class="filter-dropdown">
                                <li><input type="radio" name="sort" class="custom-radio"> پر بازدیدترین</li>
                                <li><input type="radio" name="sort" class="custom-radio"> بالاترین امتیاز</li>
                                <li><input type="radio" name="sort" class="custom-radio"> نزدیک‌ترین نوبت خالی</li>
                            </ul>
                        </div>

                        <!-- روزهای کاری -->
                        <div class="filter-section">
                            <button class="btn-filter" type="button" onclick="toggleDropdown('days', this)">
                                روزهای کاری <span class="arrow"><i class="icon-angle-down"></i></span>
                            </button>
                            <ul id="days" class="filter-dropdown">
                                <li><input type="checkbox" class="custom-checkbox"> شنبه</li>
                                <li><input type="checkbox" class="custom-checkbox"> یکشنبه</li>
                                <li><input type="checkbox" class="custom-checkbox"> دوشنبه</li>
                                <li><input type="checkbox" class="custom-checkbox"> سه‌شنبه</li>
                                <li><input type="checkbox" class="custom-checkbox"> چهارشنبه</li>
                                <li><input type="checkbox" class="custom-checkbox"> پنج‌شنبه</li>
                            </ul>
                        </div>

                        <!-- شهر -->
                        <div class="filter-section">
                            <button class="btn-filter" type="button" onclick="toggleDropdown('city', this)">
                                شهر <span class="arrow"><i class="icon-angle-down"></i></span>
                            </button>
                            <ul id="city" class="filter-dropdown">
                                <li><input type="checkbox" class="custom-checkbox"> همدان</li>
                            </ul>
                        </div>

                        <!-- پزشکان دارای نوبت -->
                        <div class="filter-section m-b-10">فقط پزشکان دارای نوبت
                            <label class="switch-label alignleft">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <button class="btn-reset btn" type="button" onclick="resetFilters()">حذف همه فیلترها<i
                                class="icon-cancel-1"></i></button>
                    </form>
                </div>
            </aside>
            <div class="col-lg-9">
                <ul class="nav center-content margin-10  bg-gradiant3" role="tablist">
                    <li>
                        <a class="nav-link  active p_1" id="general-tab" data-toggle="tab"
                           href="#turn"
                           role="tab" aria-controls="turn" aria-expanded="true">نوبت حضوری</a>
                    </li>
                    <li>
                        <a class="nav-link p_1" id="phone_turn-tab" data-toggle="tab" href="#phone_turn"
                           role="tab" aria-controls="phone_turn">مشاوره تلفنی</a>
                    </li>
                    <li>
                        <a class="nav-link p_1" id="text_turn-tab" data-toggle="tab" href="#text_turn"
                           role="tab" aria-controls="text_turn">مشاوره متنی</a>
                    </li>
                </ul>

                <div class="row tab-pane fade show active" id="turn" role="tabpanel"
                                     aria-labelledby="turn-tab">
                    <div class="col-md-6">
                        <div class="box_list wow fadeIn">
                            <i href="#0" class="rate icon-star-5"><span class="text-dark">4.8</span></i>
                            <figure>
                                <a href="detail-page.html"><img src="{% static 'img/dr/banner-img.png' %}"
                                                                class="img-fluid"
                                                                alt="">
                                </a>
                            </figure>
                            <div class="wrapper text-center">

                                <h3>دکتر مجتبی خزایی</h3>
                                <p class="text-capitalize border-light">فوق تخصص مغز و اعصاب</p>
                                <p class="text-right"><i class="icon-location-inv"></i>همدان، چهار راه پارک، رو به روی
                                    استخر آبیاران</p>
                                <small>اولین نوبت خالی 4 اسفند</small>
                                <div class="m-t-10">
                                    <button class="btn btn-outline-info">مشاهده پروفایل پزشک</button>
                                    <button class="btn btn-success">دریافت نوبت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /box_list -->

                    <div class="col-md-6">
                        <div class="box_list wow fadeIn">
                            <i href="#0" class="rate icon-star-5"><span class="text-dark">4.8</span></i>
                            <figure>
                                <a href="detail-page.html"><img src="{% static 'img/dr/download.jfif' %}"
                                                                class="img-fluid"
                                                                alt="">
                                </a>
                            </figure>
                            <div class="wrapper text-center">

                                <h3>دکتر مجتبی خزایی</h3>
                                <p class="text-capitalize border-light">فوق تخصص مغز و اعصاب</p>
                                <p class="text-right"><i class="icon-location-inv"></i>همدان، چهار راه پارک، رو به روی
                                    استخر آبیاران</p>
                                <small>اولین نوبت خالی 4 اسفند</small>
                                <div class="m-t-10">
                                    <button class="btn btn-outline-info">مشاهده پروفایل پزشک</button>
                                    <button class="btn btn-success">دریافت نوبت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /box_list -->

                    <div class="col-md-6">
                        <div class="box_list wow fadeIn">
                            <i href="#0" class="rate icon-star-5"><span class="text-dark">4.8</span></i>
                            <figure>
                                <a href="detail-page.html"><img src="{% static 'img/dr/saeed.jpg' %}" class="img-fluid"
                                                                alt="">
                                </a>
                            </figure>
                            <div class="wrapper text-center">

                                <h3>دکتر مجتبی خزایی</h3>
                                <p class="text-capitalize border-light">فوق تخصص مغز و اعصاب</p>
                                <p class="text-right"><i class="icon-location-inv"></i>همدان، چهار راه پارک، رو به روی
                                    استخر آبیاران</p>
                                <small>اولین نوبت خالی 4 اسفند</small>
                                <div class="m-t-10">
                                    <button class="btn btn-outline-info">مشاهده پروفایل پزشک</button>
                                    <button class="btn btn-success">دریافت نوبت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /box_list -->

                    <div class="col-md-6">
                        <div class="box_list wow fadeIn">
                            <i href="#0" class="rate icon-star-5"><span class="text-dark">4.8</span></i>
                            <figure>
                                <a href="detail-page.html"><img src="{% static 'img/dr/OIP (4).jfif' %}"
                                                                class="img-fluid"
                                                                alt="">
                                </a>
                            </figure>
                            <div class="wrapper text-center">

                                <h3>دکتر مجتبی خزایی</h3>
                                <p class="text-capitalize border-light">فوق تخصص مغز و اعصاب</p>
                                <p class="text-right"><i class="icon-location-inv"></i>همدان، چهار راه پارک، رو به روی
                                    استخر آبیاران</p>
                                <small>اولین نوبت خالی 4 اسفند</small>
                                <div class="m-t-10">
                                    <button class="btn btn-outline-info">مشاهده پروفایل پزشک</button>
                                    <button class="btn btn-success">دریافت نوبت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /box_list -->

                    <div class="col-md-6">
                        <div class="box_list wow fadeIn">
                            <i href="#0" class="rate icon-star-5"><span class="text-dark">4.8</span></i>
                            <figure>
                                <a href="detail-page.html"><img src="{% static 'img/dr/saeed.jpg' %}" class="img-fluid"
                                                                alt="">
                                </a>
                            </figure>
                            <div class="wrapper text-center">

                                <h3>دکتر مجتبی خزایی</h3>
                                <p class="text-capitalize border-light">فوق تخصص مغز و اعصاب</p>
                                <p class="text-right"><i class="icon-location-inv"></i>همدان، چهار راه پارک، رو به روی
                                    استخر آبیاران</p>
                                <small>اولین نوبت خالی 4 اسفند</small>
                                <div class="m-t-10">
                                    <button class="btn btn-outline-info">مشاهده پروفایل پزشک</button>
                                    <button class="btn btn-success">دریافت نوبت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /box_list -->

                    <div class="col-md-6">
                        <div class="box_list wow fadeIn">
                            <i href="#0" class="rate icon-star-5"><span class="text-dark">4.8</span></i>
                            <figure>
                                <a href="detail-page.html"><img src="{% static 'img/dr/saeed.jpg' %}" class="img-fluid"
                                                                alt="">
                                </a>
                            </figure>
                            <div class="wrapper text-center">

                                <h3>دکتر مجتبی خزایی</h3>
                                <p class="text-capitalize border-light">فوق تخصص مغز و اعصاب</p>
                                <p class="text-right"><i class="icon-location-inv"></i>همدان، چهار راه پارک، رو به روی
                                    استخر آبیاران</p>
                                <small>اولین نوبت خالی 4 اسفند</small>
                                <div class="m-t-10">
                                    <button class="btn btn-outline-info">مشاهده پروفایل پزشک</button>
                                    <button class="btn btn-success">دریافت نوبت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /box_list -->

                </div>
                <!-- /row -->
                <div id="phone_turn"></div>
                <nav aria-label="" class="add_top_20">
                    <ul class="pagination pagination-sm center-content">
                        <li class="page-item disabled align-center">
                            <a class="page-link move-down down-3" href="#" tabindex="-1"><i
                                    class="icon-right-open-3"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                            <a class="page-link border-0 down-3" href="#"><i class="icon-left-open-3"></i></a>
                        </li>
                    </ul>
                </nav>

                <!-- /pagination -->
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->


    <script>
        function toggleDropdown(id, button) {
            let dropdown = document.getElementById(id);
            let arrow = button.querySelector('.arrow');
            if (dropdown.style.maxHeight === "0px" || dropdown.style.maxHeight === "") {
                dropdown.style.display = "block";
                dropdown.style.maxHeight = dropdown.scrollHeight + "px";
                dropdown.style.opacity = "1";
                arrow.style.transform = "rotate(180deg)";
            } else {
                dropdown.style.maxHeight = "0px";
                dropdown.style.opacity = "0";
                setTimeout(() => {
                    dropdown.style.display = "none";
                }, 300);
                arrow.style.transform = "rotate(0deg)";
            }
        }


        window.onload = function () {
            // باز کردن پیش‌فرض منوهای تخصص و جنسیت
            toggleDropdown('specialty', document.querySelector('button[onclick="toggleDropdown(\'specialty\', this)"]'));
            toggleDropdown('gender', document.querySelector('button[onclick="toggleDropdown(\'gender\', this)"]'));
        };
    </script>
    <script>
        function resetFilters() {
            // بازنشانی همه چک‌باکس‌ها
            const checkboxes = document.querySelectorAll('.custom-checkbox');
            checkboxes.forEach(checkbox => {
                checkbox.checked = false;
            });

            // بازنشانی همه رادیو باتن‌ها
            const radios = document.querySelectorAll('.custom-radio');
            radios.forEach(radio => {
                radio.checked = false;
            });

            // غیرفعال کردن سوئیچ نوبت پزشکان
            const switchInput = document.querySelector('.switch input');
            if (switchInput) {
                switchInput.checked = false;
            }

            // بسته کردن همه منوهای فیلتر
            const filterDropdowns = document.querySelectorAll('.filter-dropdown');
            filterDropdowns.forEach(dropdown => {
                dropdown.style.maxHeight = "0px";
                dropdown.style.opacity = "0";
                setTimeout(() => {
                    dropdown.style.display = "none";
                }, 300);
            });

            // بازنشانی همه فلش‌های باز/بسته کننده
            const arrows = document.querySelectorAll('.arrow');
            arrows.forEach(arrow => {
                arrow.style.transform = "rotate(0deg)";
            });
        }

    </script>
{% endblock %}