/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
@media (min-width: 768px) {
    .btn_search {
        background: none !important;
        color: rgba(36, 76, 154, 0.89) !important;
    }
}

@media (max-width: 768px) {
    .btn_search {
        background: url(../img/search.svg) no-repeat center center rgba(0, 147, 131, 0.15) !important;
    }
}


.hero_home .content h4 {
    margin: 0 0 0 0;
    font-size: 30px;
    font-size: 2.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 767px) {
    .hero_home .content h4 {
        /* For less than 767px */
        font-size: 30px;
        font-size: 1.625rem;
    }
}

@media (max-width: 575px) {
    .hero_home .content h4 {
        /* For less than 575px */
        font-size: 32px;
        font-size: 2rem;
    }
}

.btn-scroll {
    color: #d3d3d3;
    background: none !important;
    border: none !important;
    outline: none !important;
    /*all: unset!important; !* حذف تمامی استایل‌های پیش‌فرض *!*/
    padding-left: 10px;
    padding-right: 10px;

}

.btn-scroll:hover {
    color: #070000;
    border: none !important;
    outline: none !important;

}

.btn-scroll2 {
    color: #d3d3d3;
    background: none !important;
    border: none !important;
    outline: none !important;
    padding-bottom: 20px;
    /*all: unset!important; !* حذف تمامی استایل‌های پیش‌فرض *!*/
    /*padding-left: 0px;*/
    /*padding-right: 10px;*/

}

.btn-scroll2:hover {
    color: #070000;
    border: none !important;
    outline: none !important;

}

.p-t-5 {
    padding-top: 5px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-t-25 {
    padding-top: 25px !important;
}

.p-15 {
    padding: 15px !important;
}


.bg-gradiant {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.03), rgba(144, 185, 227, 0.03));
}

.bg-gradiant2 {
    background: linear-gradient(to bottom, rgba(144, 185, 227, 0.03), rgba(255, 255, 255, 0.04));
}

   .bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-around;
        background-color: rgba(255, 255, 255, 0.89);
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        z-index: 1000;
        transition: bottom 0.3s; /* Smooth transition for bottom position */
    }

    .bottom-nav .nav-item {
        text-align: center;
        flex: 1;
        color: #666;
        text-decoration: none;
        font-size: 14px;
        transition: color 0.3s;
    }

    .bottom-nav .nav-item i {
        font-size: 20px;
        margin-bottom: 5px;
        display: block;
    }

    .bottom-nav .nav-item:hover {
        color: #007bff;
    }

    .bottom-nav .nav-item.active {
        color: #163b8d;
        font-weight: bolder;
    }

    .text-dr{
        color: rgba(0, 0, 0, 0.59);
    }

    /* واکنش‌گرایی: نمایش نوار فقط در موبایل */
    @media (min-width: 768px) {
        .bottom-nav {
            display: none;
        }
    }

    .r{
        border-radius: 20px;
    }



.article_box {
    /*border: solid rgba(0, 147, 131, 0.66) 1px!important;*/
    border: none !important;
    /*background: linear-gradient(to bottom, rgba(0, 147, 131, 0.02), rgba(86, 143, 63, 0.05))!important;*/
    background: #ffffff !important;

}

.article_box:hover {
    -webkit-transform: translateY(5px) !important;
    -moz-transform: translateY(5px) !important;
    -ms-transform: translateY(5px) !important;
    -o-transform: translateY(5px) !important;
    transform: translateY(5px) !important;
}

.dr_box {
    border: rgba(36, 76, 154, 0.55) solid 1px !important;
    background: #ffffff !important;
    min-width: 280px !important;

}

a.dr_box i {
    color: #ffc107;
    opacity: 1 !important;
}

.round50 {
    border-radius: 50%;
    border: 3px solid rgba(102, 102, 102, 0.18);
}

.dr_box:hover {
    -webkit-transform: translateY(5px) !important;
    -moz-transform: translateY(5px) !important;
    -ms-transform: translateY(5px) !important;
    -o-transform: translateY(5px) !important;
    transform: translateY(5px) !important;
}

.article_bg {
    background: rgba(73, 158, 102, 0.8);
    border-radius: 2px;
}

.dr_bg {
    background: #384291;
    border-radius: 2px;
}

.text_dr {
    color: #263189 !important;
}

.text_dr_2 {
    color: #71dd8a !important;
}

.text_dr_3{
    color: #3f4079!important;
}

.border_light {
    border: rgba(129, 129, 129, 0.16) solid 1px !important;
}

.border_top2 {
    border-top: 1px solid rgba(150, 150, 150, 0.28) !important;
}

.bg_footer {
    background: #ffffff;
}

.border_left {
    border-left: 1px solid rgba(129, 129, 129, 0.2);
    /*padding: 10px !important;*/
}

.p-l-5 {
    padding-left: 5px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-r-20 {
    padding-right: 20px;
}

@media (min-width: 991px) {
    .p-r-50 {
        padding-right: 50px;
    }

    .p-r-100 {
        padding-right: 100px;
    }

    .p-r-150 {
        padding-right: 150px;
    }
}

.links li {
    margin-bottom: 20px;
}


.text-left {
    text-align: left;
}


.margin_50_35 {
    padding-top: 50px;
    padding-bottom: 35px;
}


.margin_30_20 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn-comment{
    margin-top: 10px;
    background: #00ffb5;
    color: #646464
}
.btn-comment:hover{
    background: rgba(0, 255, 181, 0.78);
}


@media (max-width: 991px) {
    .margin_50_35 {
        /* For less than 991px */
        padding-top: 30px;
        padding-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .margin_50_35 {
        /* For less than 767px */
        padding-top: 30px;
        padding-bottom: 5px;
    }
    .margin_30_20 {
        padding-top: 10px;
        padding-bottom: 10px;
}
}





@media (max-width: 768px) {
    .left {
        display: none; /* همه دکمه‌ها مخفی می‌شوند */
    }
    .right {
        display: none; /* همه دکمه‌ها مخفی می‌شوند */
    }
}

/* مخفی کردن اسکرول بار */
.scroll-container {
    overflow: auto; /* اجازه اسکرول */
    -ms-overflow-style: none; /* برای اینترنت اکسپلورر */
    scrollbar-width: none; /* برای Firefox */
}

.scroll-container::-webkit-scrollbar {
    display: none; /* مخفی کردن اسکرول بار در Webkit */
}


.flex {
    display: flex;
}

.scroll-wrapper {
    display: flex;
    gap: 10px;
}

.box_cat_home {
    display: inline-block;
    min-width: 200px;
    text-align: center;
}


.center-content{
    justify-content: center;
}
.down-3{
    top: 3px;
}

.banner-blog {
    width: 100%;
    max-height: 300px; /* ارتفاع حداکثر در دسکتاپ */
    object-fit: cover; /* برش دادن تصویر برای پر کردن ظرف */
    border-radius: 15px;
}

.clinic_img {
    width: 100%;
    max-height: 250px; /* ارتفاع حداکثر در دسکتاپ */
    max-width: 250px;
    object-fit: fill; /* برش دادن تصویر برای پر کردن ظرف */
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgba(0, 0, 0, 0.13);
}

.border-left-pc {
  border-left: 1px solid #dee2e6;
}

.comment-rate{
    background: darkslateblue;
    margin-bottom: 20px;
    margin-right: 1px;
    margin-left: 1px;
    border-radius: 15px;
    /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.42);*/
}

@media (max-width: 768px) {
    .banner-blog {
        height: auto; /* ارتفاع تصویر به اندازه ارتفاع صفحه موبایل */
    }
    .clinic_img {
        /*max-height: 150px;*/
    }

    .main-menu {
        transform: translateX(100%); /* منو را به خارج از صفحه در سمت راست منتقل می‌کند */
    }

    .border-left-pc {
        border-left: none;
    }
    .nav.center-content li {
    margin: 0 15px!important; /* ایجاد فاصله افقی بین دو آیتم منوی ناوبری */
}


}

.aside-border{
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(214, 224, 238, 0.14), rgba(255, 255, 255, 0.04));
    border-top: rgba(46, 46, 87, 0.35) 1px solid;
}


a.clinic_box i {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 13px;
    color: #858585 !important;
    opacity: 1 !important;
}



.nav.center-content {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    border-bottom: 2px solid rgba(133, 133, 133, 0.3); /* اضافه کردن خط زیر کل داستان */
    margin-bottom: 10px; /* ایجاد فاصله بین خط زیرین و محتوای زیر آن */
}

.nav-link {
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid transparent; /* خط زیرین شفاف به طور پیش‌فرض */
    transition: border-bottom 0.3s ease; /* انیمیشن نرم برای خط زیرین */
}

.nav-link.active {
    font-weight: bold;
    color: rgb(39, 100, 129);
    border-bottom: 2px solid rgba(36, 76, 154, 0.57); /* خط زیرین رنگی به تب فعال */
}

.nav.center-content li {
    margin: 0 70px; /* ایجاد فاصله افقی بین دو آیتم منوی ناوبری */
}






/*تیک سایدبار کلینیک*/
    .treatments {
        list-style: none;
        padding: 0;
    }

    .treatments li {
        margin-bottom: 10px;
    }

    .treatment-label {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 18px;
    }

    .treatment-label .custom-radio {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        transition: all 0.3s ease;
    }

    .treatment-label .custom-radio::after {
        content: "✔";
        font-size: 16px;
        color: white;
        display: none;
    }

    /* مخفی کردن رادیو پیش‌فرض */
    .treatment-input {
        display: none;
    }

    /* وقتی انتخاب شد، دایره سبز بشه و تیک بخوره */
    .treatment-input:checked + .custom-radio {
        background-color: #28a745;
        border-color: #28a745;
    }

    .treatment-input:checked + .custom-radio::after {
        display: block;
    }


    .rev-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .rev-comment{
        border: 1px solid rgba(46, 46, 87, 0.51);
        border-radius: 20px;
        margin-right: 2px;
        margin-left: 2px;
        padding-left: 8px;
        padding-right: 8px;
    }