@media (min-width: 1550px) {
    .header-d-container{
        min-width: 1450px!important;
    }
    .p-r-150-lg{
        padding-right: 150px!important;
    }

}
@media (min-width: 768px) {
    .btn_search {
        background: none !important;
        color: rgba(36, 76, 154, 0.89) !important;
    }
}

@media (max-width: 768px) {
    .btn_search {
        background: url(../img/search.svg) no-repeat center center rgba(0, 147, 131, 0.15) !important;
    }
}

.border-light-2 {
  border-color: rgba(168, 168, 168, 0.26) !important;
}

.hero_home .content h4 {
    margin: 0 0 0 0;
    font-size: 30px;
    font-size: 2.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 767px) {
    .hero_home .content h4 {
        /* For less than 767px */
        font-size: 30px;
        font-size: 1.625rem;
    }
}

@media (max-width: 575px) {
    .hero_home .content h4 {
        /* For less than 575px */
        font-size: 32px;
        font-size: 2rem;
    }
}

.btn-scroll {
    color: #d3d3d3;
    background: none !important;
    border: none !important;
    outline: none !important;
    padding-left: 10px;
    padding-right: 10px;

}

.btn-scroll:hover {
    color: #070000;
    border: none !important;
    outline: none !important;

}

.btn-scroll2 {
    color: #d3d3d3;
    background: none !important;
    border: none !important;
    outline: none !important;
    padding-bottom: 20px;

}

.btn-scroll2:hover {
    color: #070000;
    border: none !important;
    outline: none !important;

}


.bg-gradiant {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.03), rgba(144, 185, 227, 0.03));
}

.bg-gradiant2 {
    background: linear-gradient(to bottom, rgba(144, 185, 227, 0.03), rgba(255, 255, 255, 0.04));
}

.bg-gradiant3 {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01), rgba(36, 76, 154, 0.11));
}


/*mobile navbar*/

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 1000;
    transition: bottom 0.3s; /* Smooth transition for bottom position */
}

.bottom-nav .nav-item {
    text-align: center;
    flex: 1;
    color: #666;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.bottom-nav .nav-item i {
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}


.bottom-nav .nav-item:hover {
    color: #007bff;
}

.bottom-nav .nav-item.active {
    color: #163b8d;
    font-weight: bolder;
}

.text-dr {
    color: rgba(0, 0, 0, 0.59);
}
.text-red {
    color: rgb(255, 0, 0)!important;
}
.text-turquoise {
    color: rgb(100, 250, 255) !important;
}



@media (min-width: 768px) {
    .bottom-nav {
        display: none;
    }
}


.r {
    border-radius: 20px;
}
/*---------*/
.box_dashboard {
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #555555;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  width: 49%;
  margin-left: 5px;

}


.dr_box {
    border: rgba(36, 76, 154, 0.55) solid 1px !important;
    background: #ffffff !important;
    min-width: 280px !important;

}

a.dr_box i {
    color: #ffc107;
    opacity: 1 !important;
}

.round50 {
    border-radius: 50%;
    border: 3px solid rgba(102, 102, 102, 0.18);
}

.dr_box:hover {
    -webkit-transform: translateY(5px) !important;
    -moz-transform: translateY(5px) !important;
    -ms-transform: translateY(5px) !important;
    -o-transform: translateY(5px) !important;
    transform: translateY(5px) !important;
}



.dr_bg {
    background: #384291;
    border-radius: 2px;
}

.bg-bluelight{
    background: rgba(239, 251, 252, 0.47) !important;
}

.bg-light-green{
    background-color: #e0f9df !important;
}

.bg-light-blue{
    background-color: #e5f1f9 !important;
}

.bg-light-violet{
    background-color: #f6ecfb !important;
}

.bg-light-yellow{
    background-color: #f8ffc7 !important;
}

.bg-light-blue2{
    background-color: rgba(187, 231, 243, 0.73) !important;
}

.bg-light-red{
    background-color: rgba(253, 154, 154, 0.8) !important;
}

.text_dr {
    color: #263189 !important;
}

.text_dr_2 {
    color: #71dd8a !important;
}

.text_dr_3 {
    color: #3f4079 !important;
}

.border_light {
    border: rgba(129, 129, 129, 0.16) solid 1px !important;
}

.border_top2 {
    border-top: 1px solid rgba(150, 150, 150, 0.28) !important;
}

.bg_footer {
    background: #ffffff;
}

.border_left {
    border-left: 1px solid rgba(129, 129, 129, 0.2);
    /*padding: 10px !important;*/
}



.links li {
    margin-bottom: 20px;
}


.text-left {
    text-align: left;
}


.margin_50_35 {
    padding-top: 50px;
    padding-bottom: 35px;
}


.margin_30_20 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.btn-comment {
    margin-top: 10px;
    background: #00ffb5;
    color: #646464
}

.btn-comment:hover {
    background: rgba(0, 255, 181, 0.78);
}


@media (max-width: 991px) {
    .margin_50_35 {
        padding-top: 30px;
        padding-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .margin_50_35 {
        padding-top: 30px;
        padding-bottom: 5px;
    }

    .margin_30_20 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


@media (max-width: 768px) {
    .left {
        display: none;
    }

    .right {
        display: none;
    }
}

/* مخفی کردن اسکرول بار */
.scroll-container {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}


.flex {
    display: flex;
}

.scroll-wrapper {
    display: flex;
    gap: 10px;
    cursor: grab;
}

.scroll-wrapper:active {
    cursor: grabbing;
}

.rounded-5 {
    border-radius: 5px;
}

.rounded-10 {
    border-radius: 10px;
}


.box_cat_home {
    display: inline-block;
    min-width: 200px;
    text-align: center;
}


.center-content {
    justify-content: center;
}


.clinic_img {
    width: 100%;
    max-height: 250px; /* ارتفاع حداکثر در دسکتاپ */
    max-width: 250px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 3px solid rgba(0, 0, 0, 0.13);
}

.parent-container {
  display: grid;
  place-items: center; /* جادوی واقعی اینجاست! */
}


.dr_img {
    width: 100%;
    height: 100px; /* ارتفاع حداکثر در دسکتاپ */
    max-width: 100px;
    object-fit: fill; /* برش دادن تصویر برای پر کردن ظرف */
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba(36, 76, 154, 0.62);
}

.border-left-pc {
    border-left: 1px solid #dee2e6;
}

.comment-rate {
    background: darkslateblue;
    margin-bottom: 20px;
    margin-right: 1px;
    margin-left: 1px;
    border-radius: 15px;
    /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.42);*/
}

@media (max-width: 768px) {
    .banner-blog {
        height: auto; /* ارتفاع تصویر به اندازه ارتفاع صفحه موبایل */
    }

    .clinic_img {
        max-height: 150px;
    }

    /*.main-menu {*/
    /*    transform: translateX(100%); !* منو را به خارج از صفحه در سمت راست منتقل می‌کند *!*/
    /*}*/

    .border-left-pc {
        border-left: none;
    }

    .nav.center-content li {
        margin: 0 15px !important; /* ایجاد فاصله افقی بین دو آیتم منوی ناوبری */
    }


}

.aside-border {
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(214, 224, 238, 0.14), rgba(255, 255, 255, 0.04));
    border-top: rgba(46, 46, 87, 0.35) 1px solid;
}


a.clinic_box i {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 13px;
    color: #858585 !important;
    opacity: 1 !important;
}

a.dr_box2 i {
    position: absolute;
    left: 3px;
    top: 1px;
    font-size: 13px;
    color: #f5d801 !important;
    opacity: 1 !important;
}


.nav.center-content {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    border-bottom: 2px solid rgba(133, 133, 133, 0.3); /* اضافه کردن خط زیر کل داستان */
    margin-bottom: 10px; /* ایجاد فاصله بین خط زیرین و محتوای زیر آن */
}

.nav-link {
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    border-bottom: 2px solid transparent; /* خط زیرین شفاف به طور پیش‌فرض */
    transition: border-bottom 0.3s ease; /* انیمیشن نرم برای خط زیرین */
}

@media (max-width: 768px) {
    .nav-link.p_1 {
        padding: 10px 1px;
    }
}


.nav-link.active {
    font-weight: bold;
    color: rgb(39, 100, 129);
    border-bottom: 2px solid rgba(36, 76, 154, 0.57); /* خط زیرین رنگی به تب فعال */
}

.nav.center-content li {
    margin: 0 70px; /* ایجاد فاصله افقی بین دو آیتم منوی ناوبری */
}


.nav.center-content.margin-10 li {
    margin: 0 40px; /* ایجاد فاصله افقی بین دو آیتم منوی ناوبری */
}


/*تیک سایدبار کلینیک*/
.treatments {
    list-style: none;
    padding: 0;
}

.treatments li {
    margin-bottom: 10px;
}

.treatment-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.treatment-label .custom-radio {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.treatment-label .custom-radio::after {
    content: "✔";
    font-size: 16px;
    color: white;
    display: none;
}

/* مخفی کردن رادیو پیش‌فرض */
.treatment-input {
    display: none;
}

/* وقتی انتخاب شد، دایره سبز بشه و تیک بخوره */
.treatment-input:checked + .custom-radio {
    background-color: #28a745;
    border-color: #28a745;
}

.treatment-input:checked + .custom-radio::after {
    display: block;
}


.rev-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rev-comment {
    border: 1px solid rgba(46, 46, 87, 0.51);
    border-radius: 20px;
    margin-right: 2px;
    margin-left: 2px;
    padding-left: 8px;
    padding-right: 8px;
}


.online-status {
    position: relative;
    display: inline-block;
}

.drag-layer {
    position: relative;
    display: inline-block;
}

.status-indicator {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: #28a745;
    border: 2px solid white;
    border-radius: 50%;
}

.drag-layer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: grab;
    z-index: 10;
}

.btn-reset {
    border: none;
    background-color: rgba(220, 53, 69, 0.27);
    color: #ffffff;
    font-size: 11px;
    cursor: pointer;
    display: block;
    margin: 1px auto;
    border-radius: 20px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.btn-reset:hover {
    background-color: rgba(155, 35, 47, 0.66);
}

.filter-section {
    margin-bottom: 10px;
}

.btn-filter {
    width: 100%;
    padding: 8px;
    border: none !important;
    cursor: pointer;
    text-align: right;
    background: none;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #575757;
}

.btn-filter:focus, .btn-filter.focus {
    outline: 0;
}

.arrow {
    transition: transform 0.3s ease;
}

.filter-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
    max-height: 0;
}

.filter-dropdown li {
    padding: 5px 10px;
}

.filter-dropdown li:hover {
    background-color: #eee;
}

.custom-checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #28a745;
    border-radius: 4px;
    position: relative;
}

.custom-checkbox:checked::after {
    content: '\2713';
    font-size: 14px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #28a745;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.switch-label {
    position: relative;
    display: inline-block;
    width: 40px !important;
    height: 20px !important;
}

.switch-label input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #28a745;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.custom-checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #28a745;
    border-radius: 4px;
    position: relative;
}

.custom-checkbox:checked::after {
    content: '\2713';
    font-size: 14px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #28a745;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.custom-radio {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #007bff;
    border-radius: 50%;
    position: relative;
}

.custom-radio:checked::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #007bff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.online-status {
    position: relative;
    display: inline-block;
}

.status-indicator {
    position: absolute;
    top: 0; /* تغییر از bottom به top */
    right: 1px;
    width: 12px;
    height: 12px;
    background-color: #28a745;
    border: 2px solid white;
    border-radius: 50%;
}


.list-group-item {
    font-weight: 500;
    color: #03657a !important;
    padding: 20px;
    font-size: 15px;
    text-align: right;
    display: flex;
    align-items: center;
    background: #fff;
    transition: background 0.3s;
    border: none;
}

.list-group-item:hover {
    background: rgba(133, 133, 133, 0.04);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

.item-active {
    background: rgba(59, 89, 152, 0.14);
}

@media (max-width: 768px) {
    .list-group {
        margin-bottom: 20px;
    }
}

.list-group-item a {
    color: #000000;
}


/*اسکرول جنسیت برای کامنت */

.custom-gender-toggle {
    position: relative;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border: 1px solid rgba(78, 172, 231, 0.11);
    margin-right: 15px;
    margin-top: 20px;
}

.custom-gender-toggle input[type="radio"] {
    display: none;
}

.custom-gender-toggle label {
    flex: 1;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    margin-top: 5px;
}

.custom-gender-toggle .custom-slider {
    position: absolute;
    top: 2px;
    left: 102px;
    width: 96px;
    height: 36px;
    background-color: #FFC0CB;
    border-radius: 6px;
    transition: all 0.4s ease;
    z-index: 0;
}

input#male-option:checked ~ .custom-slider {
    background-color: #87CEEB;
    left: 102px;
}

input#female-option:checked ~ .custom-slider {
    background-color: #FFC0CB;
    left: 2px;
}


/*scroll turn*/
.scrollable {
  max-height: 340px;
  overflow: auto
}

.hidden {
  display: none;
}

.w-8 {
  width: 6.5rem;
}

.w-10 {
  width: 8rem;
}

.w-11 {
  width: 8.2rem;
}

@media (max-width: 768px) {
    .w-11{
        width: 4.7rem;
    }

}


.w-12 {
  width: 10rem;
}

.animation {
  animation: pulse 1000ms ease-in-out;
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    display: none;
}



/*medal content */


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 3px;
    width: 700px;
    box-shadow: none;
    position: relative;

}


@media (max-width: 768px) {
    .modal-content {
        max-height: 80vh; /* حداکثر ارتفاع مودال 80% از ارتفاع صفحه */
        overflow-y: auto; /* اجازه اسکرول در جهت عمودی */
    }

}

.hidden {
    display: none;
}

.close {
    cursor: pointer;
    color: red;
    position: absolute;
    top: 10px;
    right: 10px;
}


/*contact us box*/

.contact_us {
  width: 50%;
  float: left;
  border-right: 1px solid #e1e8ed;
  padding: 15px 25px;
}
@media (max-width: 767px) {
  .contact_us {
    /* For less than 767px */
    width: 100%;
    border-right: 0;
    padding: 0;
  }
}
.contact_us.last {
  border-right: 0;
}
