{% extends  'base/base.html' %}
{% load static %}
{% block body %}

	<section class="bg-bluelight">
			<div class="container margin_120_95">
				<div class="main_title">
					<h2 class="text_dr font-weight-bold">درباره دکتر همدان</h2>
					<p> تلاش برای خلق بهترین تجربه درمان استان همدان عزیزمان!</p>
                    <p class="font-weight-light fs-15">سامانه همدان با ارائه خدمات نوبت‌دهی آنلاین پزشکان، مشاوره غیرحضوری با متخصص و خدمات آزمایشگاهی در محل، در مسیر استرس‌زدایی از فرآیند پرتنش درمان قدم برمی‌دارد.</p>
                    <img class="img-fluid" src="{% static 'img/bg/3.png' %}">
				</div>

			</div>
		</section>
    	<section class="bg-light">
			<div class="container margin_120_95">
				<div class="main_title">
					<h4 class="text_dr font-weight-bold">پوشش اختصاصی تمام شهر های استان همدان</h4>
                    <p class="font-weight-light fs-15">دکتر همدان به‌صورت مداوم درحال تکمیل لیست پزشکان استان همدان است. هم اکنون می‌توانید از تمام شهرهای همدان، نوبت دکتر بگیرید.</p>
                    <div class="row">
            <div class="col-3 box_general rounded-10">
                    <h6>همدان</h6>
            </div>
            <div class="col-3 box_general rounded-10">
                    <h6>ملایر</h6>
            </div>
            <div class="col-3 box_general rounded-10">
                    <h6>نهاوند</h6>
            </div>
            <div class="col-3 box_general rounded-10">
                    <h6>تویسرکان</h6>
            </div>
            <div class="col-3 box_general rounded-10">
                    <h6>اسدآباد</h6>
            </div>
            <div class="col-3 box_general rounded-10">
                    <h6>لالجین</h6>
            </div>
            <div class="col-3 box_general rounded-10">
                    <h6>رزن</h6>
            </div>
            <div class="col-3 box_general rounded-10">
                    <h6>بهار</h6>
            </div>
            <div class="col-3 box_general rounded-10">
                    <h6>قهاوند</h6>
            </div>
            <div class="col-3 box_general rounded-10">
                    <h6>فامنین</h6>
            </div>
            <div class="col-3 box_general rounded-10">
                    <h6>قروه</h6>
            </div>
            <div class="col-3 box_general rounded-10">
                    <h6>درجزین</h6>
            </div>
        </div>
				</div>

			</div>
		</section>
        	<section class="bg-bluelight">
			<div class="container margin_120_95">
				<div class="main_title">
					<h4 class="text_dr font-weight-bold">خدمات ما</h4>
                    <p>برای هم استانیهای عزیزمان</p>
                    <div class="row">
            <div class="col-lg-3 col-md-6 box_general rounded-10">
                <i class="pe-7s-date fs-50 m-b-5"></i>
                    <h6>نوبت دهی آنلاین</h6>
                    <p class="fs-13">در هر شهری که هستید، از هر دکتری که می‌خواهید، در هر ساعتی از شبانه‌روز، آنلاین نوبت بگیرید.</p>
            </div>
            <div class="col-lg-3 col-md-6 box_general rounded-10">
                <i class="pe-7s-call fs-50 m-b-5"></i>
                    <h6>مشاوره تلفنی با پزشک</h6>
                    <p class="fs-13">بدون محدودیت مکانی، در روز و ساعت دلخواه‌تان، توسط دکتر متخصص در هرجای ایران، تلفنی ویزیت شوید.</p>
            </div>
            <div class="col-lg-3 col-md-6 box_general rounded-10">
                <i class="pe-7s-chat fs-50 m-b-5"></i>
                    <h6>مشاوره متنی با پزشک</h6>
                    <p class="fs-13">اگر امکان مراجعه حضوری به مطب، یا مشاوره تلفنی با پزشک را ندارید، می‌توانید آنلاین با او چت کنید.</p>
            </div>
            <div class="col-lg-3 col-md-6 box_general rounded-10">
                <i class="pe-7s-like fs-50 m-b-5"></i>
                    <h6>خدمات پرستاری در محل</h6>
                    <p class="fs-13">برای خدمات پرستاری و خدمات آزمایشگاهی مانند چکاپ و نمونه‌گیری، نیروی متخصص به محل شما اعزام می‌شود.</p>
            </div>
        </div>
                    <p>برای پزشکان همدانی</p>
                    <div class="row">
            <div class="col-lg-3 col-md-6 box_general rounded-10">
                <i class="pe-7s-note2 fs-50 m-b-5"></i>
                    <h6>پرونده الکترونیکی بیماران</h6>
                    <p class="fs-13">سابقه مراجعه‌های قبلی بیمار، شرح حال‌ها، نسخه‌ها، اطلاعات بیمه‌ای، تصاویر پزشکی و… همگی با چند کلیک در دسترس‌اند.</p>
            </div>
            <div class="col-lg-3 col-md-6 box_general rounded-10">
                <i class="pe-7s-display1 fs-50 m-b-5"></i>
                    <h6>سامانه مدیریت مطب</h6>
                    <p class="fs-13">از مرحله نوبت‌دهی تا فرآیند پذیرش در مطب، همگی با چند کلیک قابل مشاهده، مدیریت و اعمال لحظه‌ای هرگونه تغییر هستند.</p>
            </div>
            <div class="col-lg-3 col-md-6 box_general rounded-10">
                <i class="pe-7s-headphones fs-50 m-b-5"></i>
                    <h6>نوبت‌دهی با تلفن گویا</h6>
                    <p class="fs-13">یک خط تلفن به شما اختصاص داده می‌شود تا مراجعه‌کنندگان به راحتی و بدون نیاز به دخالت منشی، نوبت خود را دریافت کنند.​</p>
            </div>
            <div class="col-lg-3 col-md-6 box_general rounded-10">
                <i class="pe-7s-news-paper fs-50 m-b-5"></i>
                    <h6>نسخه‌نویسی الکترونیک</h6>
                    <p class="fs-13">نسخه‌‌نویسی با تامین اجتماعی و سلامت به صورت یکپارچه در نرم‌افزار نسخه‌نویسی الکترونیک انجام می‌شود.</p>
            </div>
        </div>
				</div>

			</div>
		</section>

{% endblock %}