{% extends  'base/base.html' %}
{% load static %}
{% block body %}

    <section class="bg-bluelight">
        <div class="container margin_120_95">
            <div class="main_title text-center">
                <h2 class="text_dr font-weight-bold">دکترهمدان؛ همراه سلامتی شما</h2>
                <p class="mb-4">اینجا همه چیز برای آرامش شماست</p>

                <p class="fs-15 mb-4">
                    ما در دکترهمدان با ارائه خدمات نوبت‌دهی آنلاین، مشاوره تلفنی و خدمات آزمایشگاهی در محل،
                    تمام تلاش خود را می‌کنیم تا مسیر درمان برای شما ساده و بدون استرس باشد.
                </p>

                <p class="fs-15 mb-4">
                    چون معتقدیم سلامتی حق شماست و ما موظفیم این حق را به بهترین شکل برای شما فراهم کنیم.
                </p>

                <img class="img-fluid mt-4" src="{% static 'img/bg/3.png' %}">
            </div>
        </div>
    </section>
    	<section class="bg-light">
    <div class="container margin_120_95">
        <div class="main_title">
            <h4 class="text_dr font-weight-bold">به زودی در تمام شهرهای استان همدان</h4>
            <p class="font-weight-light fs-15">دکتر همدان به زودی در همه شهرهای استان همدان خدمات‌رسانی خواهد کرد. در حال حاضر در حال تکمیل لیست پزشکان این شهرها هستیم.</p>
            <div class="row">
                <div class="col-3 box_general rounded-10">
                    <h6>همدان</h6>
                </div>
                <div class="col-3 box_general rounded-10">
                    <h6>ملایر</h6>
                </div>
                <div class="col-3 box_general rounded-10">
                    <h6>نهاوند</h6>
                </div>
                <div class="col-3 box_general rounded-10">
                    <h6>تویسرکان</h6>
                </div>
                <div class="col-3 box_general rounded-10">
                    <h6>اسدآباد</h6>
                </div>
                <div class="col-3 box_general rounded-10">
                    <h6>کبودرآهنگ</h6>
                </div>
                <div class="col-3 box_general rounded-10">
                    <h6>رزن</h6>
                </div>
                <div class="col-3 box_general rounded-10">
                    <h6>بهار</h6>
                </div>
            </div>
        </div>
    </div>
</section>
        	<section class="bg-bluelight">
    <div class="container margin_120_95">
        <div class="main_title">
            <h4 class="text_dr font-weight-bold">خدمات دکتر همدان</h4>
            <p>برای شما هم استانی‌های عزیز</p>
            <div class="row">
                <div class="col-lg-3 col-md-6 box_general rounded-10">
                    <i class="pe-7s-date fs-50 m-b-5"></i>
                    <h6>نوبت‌دهی آنلاین</h6>
                    <p class="fs-13">هر زمانی از شبانه‌روز، از هر پزشکی در همدان آنلاین نوبت بگیرید</p>
                </div>
                <div class="col-lg-3 col-md-6 box_general rounded-10">
                    <i class="pe-7s-call fs-50 m-b-5"></i>
                    <h6>مشاوره تلفنی (به زودی)</h6>
                    <p class="fs-13">در هر جای ایران با پزشکان همدان تلفنی مشورت کنید</p>
                </div>
                <div class="col-lg-3 col-md-6 box_general rounded-10">
                    <i class="pe-7s-chat fs-50 m-b-5"></i>
                    <h6>مشاوره متنی</h6>
                    <p class="fs-13">آنلاین با پزشک خود چت کنید و سوالات خود را بپرسید</p>
                </div>
                <div class="col-lg-3 col-md-6 box_general rounded-10">
                    <i class="pe-7s-like fs-50 m-b-5"></i>
                    <h6>خدمات در محل</h6>
                    <p class="fs-13">پرستاری و آزمایشگاه در منزل یا محل کار شما</p>
                </div>
            </div>

            <p class="mt-5">برای پزشکان استان همدان</p>
            <div class="row">
                <div class="col-lg-3 col-md-6 box_general rounded-10">
                    <i class="pe-7s-note2 fs-50 m-b-5"></i>
                    <h6>پرونده الکترونیک</h6>
                    <p class="fs-13">دسترسی آسان به سوابق بیماران و اطلاعات پزشکی</p>
                </div>
                <div class="col-lg-3 col-md-6 box_general rounded-10">
                    <i class="pe-7s-display1 fs-50 m-b-5"></i>
                    <h6>مدیریت مطب</h6>
                    <p class="fs-13">سیستم یکپارچه مدیریت نوبت‌دهی و پذیرش بیماران</p>
                </div>
                <div class="col-lg-3 col-md-6 box_general rounded-10">
                    <i class="pe-7s-chat fs-50 m-b-5"></i>
                    <h6>ویزیت آنلاین</h6>
                    <p class="fs-13">بیماران خود را به صورت آنلاین ویزیت کنید </p>
                </div>
                <div class="col-lg-3 col-md-6 box_general rounded-10">
                    <i class="pe-7s-news-paper fs-50 m-b-5"></i>
                    <h6>نسخه الکترونیک (به زودی)</h6>
                    <p class="fs-13">ثبت نسخه به صورت الکترونیکی و یکپارچه</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}