{% extends  'base/base.html' %}
{% load static %}
{% block body %}
    <section class="bg-bluelight">
        <div class="container margin_120_95">
                    <div class="row text-center d-md-none">
        <a href="{% url 'doctors:doctor_registration' %}" class="col-lg-12 col-md-12 box_general_2 rounded-0">
            <h5 class=" text-white">برا عضویت به عنوان پزشک در دکتر همدان <span class="text-turquoise"> اینجا کلیک کنید </span></h5>
        </a>
    </div>
            <div class="main_title">
                <h1 class="font-weight-bold m-b-30">امکانات دکترهمدان برای پزشکان</h1>
                <div class="row">
                    <a href="#pay" class="col-lg-3 col-md-6 box_general bg-light-green rounded-10 ">
                        <i class="pe-7s-credit fs-50 m-b-5"></i>
                        <h6>دریافت آنلاین هزینه ویزیت</h6>
                        <p class="fs-13">امکان دریافت هزینه ویزیت به هر دو روش آنلاین و حضوری وجود دارد.</p>
                    </a>
                    <a href="#lenz" class="col-lg-3 col-md-6 box_general bg-light-yellow rounded-10">
                        <i class="pe-7s-photo fs-50 m-b-5"></i>
                        <h6>لنز پزشکی</h6>
                        <p class="fs-13">شما میتوانید تصاویر و ویدیو از محیط و فرایند کاری خود را منتشر کنید!</p>
                    </a>
                    <a href="#text" class="col-lg-3 col-md-6 box_general bg-light-blue rounded-10">
                        <i class="pe-7s-comment fs-50 m-b-5"></i>
                        <h6>مشاوره متنی , متنی</h6>
                        <p class="fs-13">در هر زمان و مکان میتوانید بیماران خود را به صورت آنلاین ویزیت نمایید!</p>
                    </a>
                    <a href="#report" class="col-lg-3 col-md-6 box_general bg-light-violet rounded-10">
                        <i class="pe-7s-graph1 fs-50 m-b-5"></i>
                        <h6>گزارش کامل درامد</h6>
                        <p class="fs-13">میتوانید گزارش کاملی از درامد خود را در پنل کاربری مشاهده کنید</p>
                    </a>

                </div>

                <div class="row">
                    <a href="#file" class="col-lg-3 col-md-6 box_general bg-light-blue2 rounded-10">
                        <i class="pe-7s-note2 fs-50 m-b-5"></i>
                        <h6>پرونده الکترونیکی بیماران</h6>
                        <p class="fs-13">سابقه مراجعه‌های قبلی بیمار، شرح حال‌ها، نسخه‌ها، اطلاعات بیمه‌ای، تصاویر
                            پزشکی و… همگی با چند کلیک در دسترس‌اند.</p>
                    </a>
                    <a href="#management" class="col-lg-3 col-md-6 box_general bg-light-blue rounded-10">
                        <i class="pe-7s-display1 fs-50 m-b-5"></i>
                        <h6>سامانه مدیریت مطب</h6>
                        <p class="fs-13">از مرحله نوبت‌دهی تا فرآیند پذیرش در مطب، همگی با چند کلیک قابل مشاهده، مدیریت
                            و اعمال لحظه‌ای هرگونه تغییر هستند.</p>
                    </a>
                    <a href="#support" class="col-lg-3 col-md-6 box_general bg-light-yellow rounded-10">
                        <i class="pe-7s-umbrella fs-50 m-b-5"></i>
                        <h6>پشتیبانی 24 ساعته</h6>
                        <p class="fs-13">در صورت بروز هر گونه مشکل پشتیبانی 24 ساعته آماده پاسخگویی و خدمات رسانی به
                            شماست</p>
                    </a>
                    <a href="#prescription" class="col-lg-3 col-md-6 box_general bg-light-green rounded-10">
                        <i class="pe-7s-news-paper fs-50 m-b-5"></i>
                        <h6>نسخه‌نویسی الکترونیک</h6>
                        <p class="fs-13">نسخه‌‌نویسی با تامین اجتماعی و سلامت به صورت یکپارچه در نرم‌افزار نسخه‌نویسی
                            الکترونیک انجام می‌شود.</p>
                    </a>
                </div>
                     <div class="row">
                    <a href="{% url 'doctors:doctor_registration' %}" class="col-lg-12 col-md-12 box_general_2 rounded-0">
                        <h4 class=" text-white">برا عضویت به عنوان پزشک در دکتر همدان <span class="text-turquoise"> اینجا کلیک کنید </span></h4>
                    </a>
                </div>
            </div>

        </div>
    </section>

    <div class="container margin_60">
        <div class="row">
            <div class="col-lg-12 " id="faq">


                <h3 class=" text_dr_3 box_general_3 bg-light-green text-center " id="pay">دریافت آنلاین و آنی هزینه ویزیت</h3>
                <div role="tablist" class="add_bottom_45 accordion">
                    <div class="">
                        <div class="" role="tab">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#pay_detail" aria-expanded="true"><i
                                        class="icon-info"></i>دریافت هزینه ویزیت به صورت آنلاین و راحت تر از همیشه</a>
                            </h5>
                        </div>

                        <div id="pay_detail" class="collapse show" role="tabpanel" data-parent="#pay_detail">
                            <div class="card-body row">
                                <div class="col-lg-6 col-md-6 box_general  rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">دریافت آنلاین و آنی هزینه ویزیت</h4>
                                    <p class="fs-13">بیماران در زمان دریافت نوبت هزینه ویزیت را به صورت آنلاین پرداخت
                                        میکنند!</p>
                                </div>
                                <div class="col-lg-6 col-md-6 box_general  rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">پرداخت هزینه ویزیت در همون روز</h4>
                                    <p class="fs-13">هزینه دریافت شده از بیماران شما روزانه به حساب شما واریز میشود</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h3 class=" text_dr_3 box_general_3 bg-light-yellow text-center" id="lenz">لنز پزشکی بارگزاری فایل،عکس،فیلم</h3>
                <div role="tablist" class="add_bottom_45 accordion">
                    <div class="">
                        <div class="" role="tab">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#lenz_detail" aria-expanded="true"><i
                                        class="icon-info"></i>لنزپزشکی صفحه ای برای شما</a>
                            </h5>
                        </div>

                        <div id="lenz_detail" class="collapse show" role="tabpanel" data-parent="#lenz_detail">
                            <div class="card-body row">
                                <div class="col-lg-6 col-md-6 box_general  rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">بارگزاری فیلم و عکس از محیط کار</h4>
                                    <p class="fs-13">برای شما صفحه ای طراحی شده تا بتوانید به راحتی فیلم و عکس از شرابط
                                        کاری تهیه و منتشر کنید</p>
                                </div>
                                <div class="col-lg-6 col-md-6 box_general  rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">لایک،کامنت، بازخورد</h4>
                                    <p class="fs-13">بیماران و کاربران مطلاب شمارا میبینند و شما میتوانید از طریق لایک و
                                        کامنت با آنها تعامل داشته باشید</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                                <h3 class=" text_dr_3 box_general_3 bg-light-blue text-center" id="text">مشاوره متنی و تلفنی</h3>
                <div role="tablist" class="add_bottom_45 accordion">
                    <div class="">
                        <div class="" role="tab">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#text_detail" aria-expanded="true"><i
                                        class="icon-info"></i>مشاوره متنی تلفنی در هر زمان و هر مکان!</a>
                            </h5>
                        </div>

                        <div id="text_detail" class="collapse show" role="tabpanel" data-parent="#text_detail">
                            <div class="card-body row">
                                <div class="col-lg-6 col-md-6 box_general  rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">امکان ویزیت بیماران به صورت تلفنی و متنی با چند کلیک</h4>
                                    <p class="fs-13">کافیست ویزیت متنی و تلفنی را در پنل خود فعال کنید تا بیماران بتوانند با شما در روز هی غیز کاری هم ارتباط داشته باشند</p>
                                </div>
                                <div class="col-lg-6 col-md-6 box_general  rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">امکان ثبت نسخه الکترونیک</h4>
                                    <p class="fs-13">در ویزیت متنی و تلفنی امکان ثبت نسخه الکترونیک برای بیماران فعال است</p>
                                </div>
                                                                <div class="col-lg-12 col-md-6 box_general  rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">دریافت فایل مورد نیاز بیماران</h4>
                                    <p class="fs-13">امکان دریافت فایل های مورد نیاز برای ویزیت بیمار به صورت آنلاین وجود دارد</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                                                <h3 class=" text_dr_3 box_general_3 bg-light-violet text-center" id="report">گزارش کامل کارکرد مالی شما</h3>
                <div role="tablist" class="add_bottom_45 accordion">
                    <div >
                        <div  role="tab">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#report_detail" aria-expanded="true"><i
                                        class="icon-info"></i>گزارش کامل کارکرد مالی شما در پنل مدیریتی</a>
                            </h5>
                        </div>

                        <div id="report_detail" class="collapse show" role="tabpanel" data-parent="#report_detail">
                            <div class="card-body row">
                                <div class="col-lg-12 col-md-6 box_general  rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">نمودار مالی</h4>
                                    <p class="fs-13">درامد ماهانه شما به صورت نمودار و با شرح کامل در قسمت پنل کاربری شما موجود و قابل مشاهده میباشد</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h3 class=" text_dr_3 box_general_3 bg-light-blue2 text-center" id="file">پرونده الکترونیک؛ دسترسی بدون دردسر به
                    سوابق</h3>
                <div role="tablist" class="add_bottom_45 accordion">
                    <div class="">
                        <div class="" role="tab">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#file_detail" aria-expanded="true"><i
                                        class="icon-info"></i>اطلاعات بیماران به سادگی در دسترس
                                    شماست</a>
                            </h5>
                        </div>

                        <div id="file_detail" class="collapse show" role="tabpanel" data-parent="#file">
                            <div class="card-body row">
                                <div class="col-lg-6 col-md-6 box_general  rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">افزایش کارایی با کاهش سوابق تکراری</h4>
                                    <p class="fs-13">سابقه مراجعه‌های قبلی بیمار، شرح حال‌های نوشته‌شده توسط پزشک،
                                        نسخه‌های تجویزشده، هزینه‌‌ها، اطلاعات بیمه‌ای، فایل‌ها و تصاویر پزشکی و... همگی
                                        با چند کلیک در دسترس است.</p>
                                </div>
                                <div class="col-lg-6 col-md-6 box_general  rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">کاهش استفاده از کاغذ و هزینه کمتر</h4>
                                    <p class="fs-13">همه اطلاعات مربوط بــه هر بیمار به صورت سیستمی ثبت می‌شود. دردسر
                                        پیدا کردن یک پرونده قدیمی، مستعمل‌شدن کاغذها، اشغال فضای اضافی و گم‌شدن پرونده
                                        برای همیشه حل شده است.</p>
                                </div>
                                <div class="col-lg-6 col-md-6 box_general rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">شرح‌حال‌نویسی سریع‌تر</h4>
                                    <p class="fs-13">شرح‌حال‌های پراستفاده بیماران قابلیت ذخیره‌شدن دارند تا در
                                        استفاده‌های بعدی در زمانتان صرفه‌جویی شود. این اتفاق به روند پذیرش و درمان سرعت
                                        می‌دهد.</p>
                                </div>
                                <div class="col-lg-6 col-md-6 box_general rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">حفظ محرمانگی اطلاعات شما</h4>
                                    <p class="fs-13">تمامی اطلاعات مربوط بـه مطب، بیماران، پرونده‌ها، تراکنش‌ها و...
                                        کاملا در اختیار شماست و کسی جز خودتان امکان گزارش‌گیری و دسترسی بــه آن را
                                        ندارد.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h3 class=" text_dr_3 box_general_3 bg-light-blue text-center" id="management">مدیریت کامل نوبت دهی بیماران</h3>
                <div role="tablist" class="add_bottom_45 accordion">
                    <div class="">
                        <div class="" role="tab">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#management_detail" aria-expanded="true"><i
                                        class="icon-info"></i>نوبت دهی بدون دردسر تر از همیشه در دسترس است</a>
                            </h5>
                        </div>

                        <div id="management_detail" class="collapse show" role="tabpanel" data-parent="#management">
                            <div class="card-body row">
                                <div class="col-lg-12 col-md-6 box_general  rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">از لحظه ثبت نوبت تا پایان پروسه ویزیت تمامی مراحل به صورت الکترونیکی در دسترس شماست</h4>
                                    <p class="fs-13">پنل مدیریت شما با کاربری فوقالعاده ساده آنالیز کامل نوبت های شمارا در اختیارتان قرار میدهد</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                                <h3 class=" text_dr_3 box_general_3 bg-light-yellow text-center" id="support">پشتیبانی 24 ساعته</h3>
                <div role="tablist" class="add_bottom_45 accordion">
                    <div class="">
                        <div class="" role="tab">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#support_detail" aria-expanded="true"><i
                                        class="icon-info"></i>بدون نگرانی از مشکلات معمول در سایت ها</a>
                            </h5>
                        </div>

                        <div id="support_detail" class="collapse show" role="tabpanel" data-parent="#support">
                            <div class="card-body row">
                                <div class="col-lg-12 col-md-6 box_general  rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">پشتیبانی 24 ساعته و بدون وقفه با رسیدگی فوری به مشکلات</h4>
                                    <p class="fs-13">همکاران ما در دکتر همدان به صورت 24 ساعته آماده پشتیبانی برای بروز هرگونه مشکلی برای شما میباشند</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                                <h3 class=" text_dr_3 box_general_3 bg-light-green text-center" id="prescription">نسخه الکترویک</h3>
                <div role="tablist" class="add_bottom_45 accordion">
                    <div class="">
                        <div class="" role="tab">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#prescription_detail" aria-expanded="true"><i
                                        class="icon-info"></i>سامانه یکپارچه ثبت نسخه الکترونیک برای بیماران</a>
                            </h5>
                        </div>

                        <div id="prescription_detail" class="collapse show" role="tabpanel" data-parent="#prescription">
                            <div class="card-body row">
                                <div class="col-lg-12 col-md-6 box_general  rounded-10">
                                    <i class="pe-7s-more fs-50 m-b-5"></i>
                                    <h4 class="text-success">ثبت نسخه آسانترا ز همیشه</h4>
                                    <p class="fs-13">سامانه ثبت نسخه الکترونیک یکپارچه در دکترهمدان در دسترس شماست و به راحتی بدون نیاز به جابهجایی در سایت ها میتوانید نسخه الکترونیک ثبت کنید!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    const internalLinks = document.querySelectorAll('a[href^="#"]');

    internalLinks.forEach(link => {
        link.addEventListener('click', function(e) {
            const targetId = this.getAttribute('href');

            // اگر لینک برای آکاردئون است، از پیش‌فرض جلوگیری نکن
            if (targetId.includes('_detail')) return;

            e.preventDefault();
            const targetElement = document.querySelector(targetId);

            if (targetElement) {
                targetElement.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });

                // فقط برای هدرهای اصلی URL را آپدیت کن
                if (['#pay', '#lenz', '#text', '#report', '#file',
                     '#management', '#support', '#prescription'].includes(targetId)) {
                    history.pushState(null, null, targetId);
                }
            }
        });
    });

    // فعال کردن آکاردئون‌ها
    $('.accordion .collapse').on('show.bs.collapse', function () {
        $(this).parent().find('.pe-7s-more').removeClass('pe-7s-more').addClass('pe-7s-less');
    }).on('hide.bs.collapse', function () {
        $(this).parent().find('.pe-7s-less').removeClass('pe-7s-less').addClass('pe-7s-more');
    });
</script>
{% endblock %}