{% extends  'base/base.html' %}
{% load static %}
{% block body %}
    {% block title %}<title>برای پزشکان | دکتر همدان</title>{% endblock %}
    <section class="bg-bluelight">
        <div class="container margin_120_95">
            <div class="row text-center d-md-none">
                <a href="{% url 'doctors:doctor_registration' %}" class="col-lg-12 col-md-12 box_general_2 rounded-0">
                    <h5 class=" text-white">برا عضویت به عنوان پزشک در دکتر همدان <span class="text-turquoise"> اینجا کلیک کنید </span>
                    </h5>
                </a>
            </div>
            <div class="main_title">
                <h1 class="font-weight-bold m-b-30">خدمات اختصاصی دکترهمدان برای جامعه پزشکی</h1>
                <div class="row">
                    <a href="#pay" class="col-lg-3 col-md-6 box_general bg-light-green rounded-10">
                        <i class="pe-7s-credit fs-50 m-b-5"></i>
                        <h6>دریافت آنلاین هزینه ویزیت</h6>
                        <p class="fs-13">دریافت هزینه ویزیت به‌صورت آنلاین و حضوری با امنیت کامل</p>
                    </a>
                    <a href="#lenz" class="col-lg-3 col-md-6 box_general bg-light-yellow rounded-10">
                        <i class="pe-7s-photo fs-50 m-b-5"></i>
                        <h6>گالری تخصصی پزشکی</h6>
                        <p class="fs-13">انتشار تصاویر و ویدیو از فرآیندهای درمانی و آموزشی</p>
                    </a>
                    <a href="#text" class="col-lg-3 col-md-6 box_general bg-light-blue rounded-10">
                        <i class="pe-7s-comment fs-50 m-b-5"></i>
                        <h6>مشاوره متنی آنلاین</h6>
                        <p class="fs-13">ویزیت بیماران در هر زمان و مکان به‌صورت آنلاین</p>
                    </a>
                    <a href="#report" class="col-lg-3 col-md-6 box_general bg-light-violet rounded-10">
                        <i class="pe-7s-graph1 fs-50 m-b-5"></i>
                        <h6>گزارش‌های مالی پیشرفته</h6>
                        <p class="fs-13">تحلیل و مشاهده گزارش کامل درآمدها در پنل کاربری</p>
                    </a>
                </div>

                <div class="row">
                    <a href="#file" class="col-lg-3 col-md-6 box_general bg-light-blue2 rounded-10">
                        <i class="pe-7s-note2 fs-50 m-b-5"></i>
                        <h6>پرونده الکترونیک سلامت</h6>
                        <p class="fs-13">دسترسی سریع به سوابق بیماران</p>
                    </a>
                    <a href="#management" class="col-lg-3 col-md-6 box_general bg-light-blue rounded-10">
                        <i class="pe-7s-display1 fs-50 m-b-5"></i>
                        <h6>سیستم مدیریت یکپارچه مطب</h6>
                        <p class="fs-13">مدیریت نوبت‌دهی، پذیرش و برنامه‌ریزی مطب به‌صورت هوشمند</p>
                    </a>
                    <a href="#support" class="col-lg-3 col-md-6 box_general bg-light-yellow rounded-10">
                        <i class="pe-7s-umbrella fs-50 m-b-5"></i>
                        <h6>پشتیبانی ۲۴/۷</h6>
                        <p class="fs-13">پشتیبانی تمام‌وقت برای پاسخگویی و رفع مشکلات شما</p>
                    </a>
                    <a href="#prescription" class="col-lg-3 col-md-6 box_general bg-light-green rounded-10">
                        <i class="pe-7s-news-paper fs-50 m-b-5"></i>
                        <h6>نسخه‌نویسی هوشمند (به زودی)</h6>
                        <p class="fs-13"> سیستم یکپارچه نسخه‌نویسی الکترونیک با بیمه‌های تامین اجتماعی و سلامت</p>
                    </a>
                </div>

                <div class="row">
                    <a href="{% url 'doctors:doctor_registration' %}"
                       class="col-lg-12 col-md-12 box_general_2 rounded-0">
                        <h4 class="text-white">
                            برای عضویت در جامعه پزشکی دکترهمدان
                            <span class="text-turquoise">همین حالا اقدام کنید</span>
                        </h4>
                    </a>
                </div>
            </div>

        </div>
    </section>

    <div class="container margin_60">
    <div class="row">
        <div class="col-lg-12" id="faq">

            <!-- دریافت آنلاین هزینه ویزیت -->
            <h3 class="text_dr_3 box_general_3 bg-light-green text-center" id="pay">سیستم دریافت الکترونیک هزینه ویزیت</h3>
            <div role="tablist" class="add_bottom_45 accordion">
                <div class="">
                    <div class="" role="tab">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#pay_detail" aria-expanded="true">
                                <i class="icon-info"></i>مدیریت مالی هوشمند ویزیت‌های پزشکی
                            </a>
                        </h5>
                    </div>
                    <div id="pay_detail" class="collapse show" role="tabpanel" data-parent="#pay_detail">
                        <div class="card-body row">
                            <div class="col-lg-6 col-md-6 box_general rounded-10">
                                <i class="pe-7s-credit fs-50 m-b-5 text-success"></i>
                                <h4 class="text-success">پرداخت الکترونیک امن</h4>
                                <p class="fs-13">فرآیند پرداخت هزینه ویزیت به صورت کاملاً الکترونیک و با بالاترین سطح امنیت انجام می‌پذیرد</p>
                            </div>
                            <div class="col-lg-6 col-md-6 box_general rounded-10">
                                <i class="pe-7s-cash fs-50 m-b-5 text-success"></i>
                                <h4 class="text-success">واریز مستقیم و روزانه</h4>
                                <p class="fs-13">  مبالغ دریافتی به صورت خودکار و در پایان هر روز کاری به حساب بانکی شما انتقال می‌یابد (به زودی)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- گالری پزشکی -->
            <h3 class="text_dr_3 box_general_3 bg-light-yellow text-center" id="lenz">پلتفرم انتشار محتوای تخصصی پزشکی</h3>
            <div role="tablist" class="add_bottom_45 accordion">
                <div class="">
                    <div class="" role="tab">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#lenz_detail" aria-expanded="true">
                                <i class="icon-info"></i>فضای اختصاصی ارائه محتوای آموزشی پزشکی
                            </a>
                        </h5>
                    </div>
                    <div id="lenz_detail" class="collapse show" role="tabpanel" data-parent="#lenz_detail">
                        <div class="card-body row">
                            <div class="col-lg-6 col-md-6 box_general rounded-10">
                                <i class="pe-7s-camera fs-50 m-b-5 text-warning"></i>
                                <h4 class="text-success">انتشار محتوای چندرسانه‌ای</h4>
                                <p class="fs-13">امکان بارگذاری و انتشار محتوای تصویری و ویدیویی در حوزه تخصصی پزشکی فراهم گردیده است</p>
                            </div>
                            <div class="col-lg-6 col-md-6 box_general rounded-10">
                                <i class="pe-7s-chat fs-50 m-b-5 text-warning"></i>
                                <h4 class="text-success">تعامل سازنده با مخاطبان</h4>
                                <p class="fs-13">برقراری ارتباط مؤثر با بیماران و همکاران از طریق سیستم کامنت‌گذاری و بازخورد</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- مشاوره متنی و تلفنی -->
            <h3 class="text_dr_3 box_general_3 bg-light-blue text-center" id="text">سامانه مشاوره پزشکی از راه دور</h3>
            <div role="tablist" class="add_bottom_45 accordion">
                <div class="">
                    <div class="" role="tab">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#text_detail" aria-expanded="true">
                                <i class="icon-info"></i>ارائه خدمات پزشکی در بستر دیجیتال
                            </a>
                        </h5>
                    </div>
                    <div id="text_detail" class="collapse show" role="tabpanel" data-parent="#text_detail">
                        <div class="card-body row">
                            <div class="col-lg-6 col-md-6 box_general rounded-10">
                                <i class="pe-7s-phone fs-50 m-b-5 text-primary"></i>
                                <h4 class="text-success">مشاوره چندکاناله</h4>
                                <p class="fs-13">ارائه خدمات مشاوره‌ای از طریق پیام‌رسانی متنی به صورت همزمان</p>
                            </div>
                            <div class="col-lg-6 col-md-6 box_general rounded-10">
                                <i class="pe-7s-download fs-50 m-b-5 text-primary"></i>
                                <h4 class="text-success">مبادله اسناد پزشکی</h4>
                                <p class="fs-13">دریافت و ارسال مدارک و اسناد مورد نیاز جهت انجام ویزیت </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- گزارش مالی -->
            <h3 class="text_dr_3 box_general_3 bg-light-violet text-center" id="report">سیستم گزارش‌دهی تحلیلی مالی</h3>
            <div role="tablist" class="add_bottom_45 accordion">
                <div>
                    <div role="tab">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#report_detail" aria-expanded="true">
                                <i class="icon-info"></i>پایش جامع عملکرد مالی و اقتصادی
                            </a>
                        </h5>
                    </div>
                    <div id="report_detail" class="collapse show" role="tabpanel" data-parent="#report_detail">
                        <div class="card-body row">
                            <div class="col-lg-12 col-md-6 box_general rounded-10">
                                <i class="pe-7s-graph fs-50 m-b-5 text-info"></i>
                                <h4 class="text-success">داشبورد تحلیلی پیشرفته</h4>
                                <p class="fs-13">نمایش گرافیکی و تحلیلی عملکرد مالی با قابلیت ارائه گزارش‌های دوره‌ای</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- پرونده الکترونیک -->
            <h3 class="text_dr_3 box_general_3 bg-light-blue2 text-center" id="file">سامانه پرونده الکترونیک سلامت</h3>
            <div role="tablist" class="add_bottom_45 accordion">
                <div class="">
                    <div class="" role="tab">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#file_detail" aria-expanded="true">
                                <i class="icon-info"></i>مدیریت یکپارچه اطلاعات پزشکی بیماران
                            </a>
                        </h5>
                    </div>
                    <div id="file_detail" class="collapse show" role="tabpanel" data-parent="#file">
                        <div class="card-body row">
                            <div class="col-lg-6 col-md-6 box_general rounded-10">
                                <i class="pe-7s-server fs-50 m-b-5 text-info"></i>
                                <h4 class="text-success">دسترسی متمرکز به سوابق</h4>
                                <p class="fs-13">گردآوری و سازماندهی کلیه اطلاعات پزشکی بیمار در یک پلتفرم واحد</p>
                            </div>
                            <div class="col-lg-6 col-md-6 box_general rounded-10">
                                <i class="pe-7s-safe fs-50 m-b-5 text-info"></i>
                                <h4 class="text-success">امنیت اطلاعات و صرفه‌جویی اقتصادی</h4>
                                <p class="fs-13">کاهش هزینه‌های عملیاتی و تضمین امنیت داده‌های پزشکی</p>
                            </div>
                            <div class="col-lg-6 col-md-6 box_general rounded-10">
                                <i class="pe-7s-config fs-50 m-b-5 text-info"></i>
                                <h4 class="text-success">بهینه‌سازی فرآیند ثبت اطلاعات</h4>
                                <p class="fs-13">سیستم هوشمند ثبت خودکار اطلاعات پرتکرار جهت افزایش بهره‌وری</p>
                            </div>
                            <div class="col-lg-6 col-md-6 box_general rounded-10">
                                <i class="pe-7s-lock fs-50 m-b-5 text-info"></i>
                                <h4 class="text-success">حفظ محرمانگی اطلاعات</h4>
                                <p class="fs-13">رعایت کامل حریم خصوصی و محرمانگی داده‌های پزشکی</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- مدیریت نوبت‌دهی -->
            <h3 class="text_dr_3 box_general_3 bg-light-blue text-center" id="management">سیستم مدیریت هوشمند نوبت‌دهی</h3>
            <div role="tablist" class="add_bottom_45 accordion">
                <div class="">
                    <div class="" role="tab">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#management_detail" aria-expanded="true">
                                <i class="icon-info"></i>بهینه‌سازی فرآیند پذیرش و ویزیت بیماران
                            </a>
                        </h5>
                    </div>
                    <div id="management_detail" class="collapse show" role="tabpanel" data-parent="#management">
                        <div class="card-body row">
                            <div class="col-lg-12 col-md-6 box_general rounded-10">
                                <i class="pe-7s-network fs-50 m-b-5 text-primary"></i>
                                <h4 class="text-success">مدیریت یکپارچه چرخه ویزیت</h4>
                                <p class="fs-13">پوشش کامل کلیه مراحل پذیرش تا تکمیل فرآیند ویزیت در محیط دیجیتال</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- پشتیبانی -->
            <h3 class="text_dr_3 box_general_3 bg-light-yellow text-center" id="support">پشتیبانی تخصصی تمام‌وقت</h3>
            <div role="tablist" class="add_bottom_45 accordion">
                <div class="">
                    <div class="" role="tab">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#support_detail" aria-expanded="true">
                                <i class="icon-info"></i>ارائه خدمات پشتیبانی مستمر و فنی
                            </a>
                        </h5>
                    </div>
                    <div id="support_detail" class="collapse show" role="tabpanel" data-parent="#support">
                        <div class="card-body row">
                            <div class="col-lg-12 col-md-6 box_general rounded-10">
                                <i class="pe-7s-help1 fs-50 m-b-5 text-warning"></i>
                                <h4 class="text-success">پشتیبانی فنی دائمی</h4>
                                <p class="fs-13">ارائه خدمات پشتیبانی تخصصی به صورت ۲۴ ساعته و در تمامی روزهای هفته</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- نسخه الکترونیک -->
            <h3 class="text_dr_3 box_general_3 bg-light-green text-center" id="prescription">سامانه نسخه‌نویسی الکترونیک</h3>
            <div role="tablist" class="add_bottom_45 accordion">
                <div class="">
                    <div class="" role="tab">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#prescription_detail" aria-expanded="true">
                                <i class="icon-info"></i>صدور دیجیتال نسخه‌های پزشکی
                            </a>
                        </h5>
                    </div>
                    <div id="prescription_detail" class="collapse show" role="tabpanel" data-parent="#prescription">
                        <div class="card-body row">
                            <div class="col-lg-12 col-md-6 box_general rounded-10">
                                <i class="pe-7s-news-paper fs-50 m-b-5 text-success"></i>
                                <h4 class="text-success">نسخه‌نویسی یکپارچه (به زودی)</h4>
                                <p class="fs-13"> سیستم جامع نسخه‌نویسی الکترونیک با قابلیت یکپارچه‌سازی کامل در فرآیند ویزیت </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /col -->
    </div>
    <!-- /row -->
</div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const internalLinks = document.querySelectorAll('a[href^="#"]');

            internalLinks.forEach(link => {
                link.addEventListener('click', function (e) {
                    const targetId = this.getAttribute('href');

                    // اگر لینک برای آکاردئون است، از پیش‌فرض جلوگیری نکن
                    if (targetId.includes('_detail')) return;

                    e.preventDefault();
                    const targetElement = document.querySelector(targetId);

                    if (targetElement) {
                        targetElement.scrollIntoView({
                            behavior: 'smooth',
                            block: 'start'
                        });

                        // فقط برای هدرهای اصلی URL را آپدیت کن
                        if (['#pay', '#lenz', '#text', '#report', '#file',
                            '#management', '#support', '#prescription'].includes(targetId)) {
                            history.pushState(null, null, targetId);
                        }
                    }
                });
            });

            // فعال کردن آکاردئون‌ها
            $('.accordion .collapse').on('show.bs.collapse', function () {
                $(this).parent().find('.pe-7s-more').removeClass('pe-7s-more').addClass('pe-7s-less');
            }).on('hide.bs.collapse', function () {
                $(this).parent().find('.pe-7s-less').removeClass('pe-7s-less').addClass('pe-7s-more');
            });
    </script>
{% endblock %}