{% extends 'base/base.html' %}

{% block body %}
    <section class=" col-12 text-center my-4 box_general">
        <p class="mb-3 fw-bold">مراحل درخواست خدمات پزشکی و پرستاری در محل</p>

        <!-- نسخه دسکتاپ -->
        <div class="d-none d-lg-flex justify-content-center align-items-center flex-wrap gap-2">
            <span class="btn btn-sm btn-light ">انتخاب نوع خدمت</span>
            <i class="icon-left-1 p-t-5"></i>
            <span class="btn btn-sm btn-light">ثبت درخواست</span>
            <i class="icon-left-1 p-t-5"></i>
            <span class="btn btn-sm btn-light {% if request.resolver_match.url_name == 'success' %}active{% endif %}">تماس جهت هماهنگی</span>
            <i class="icon-left-1 p-t-5"></i>
            <span class="btn btn-sm btn-light">انجام خدمت</span>
        </div>

        <!-- نسخه موبایل -->
        <div class="d-flex d-lg-none flex-column align-items-center gap-2">
            <span class="btn btn-sm btn-light w-100">انتخاب نوع خدمت</span>
            <i class="icon-down-1"></i>
            <span class="btn btn-sm btn-light w-100">ثبت درخواست</span>
            <i class="icon-down-1"></i>
            <span class="btn btn-sm btn-light w-100 {% if request.resolver_match.url_name == 'success' %}active{% endif %}">تماس جهت هماهنگی</span>
            <i class="icon-down-1"></i>
            <span class="btn btn-sm btn-light w-100">انجام خدمت</span>
        </div>
    </section>
<div class="container mt-5 text-center">
    <i class="icon-ok-circled-1 fs-50 text-success"></i>
  <h2 class="text-success">درخواست شما با موفقیت ثبت شد</h2>
    <p>همکاران ما به زودی با شما تماس خواهند گرفت</p>
  <a href="{% url 'homecare:select_service' %}" class="btn btn-success mt-3 m-b-20">بازگشت به انتخاب خدمات</a>
</div>
{% endblock %}
