{% extends 'base/base.html' %}
{% load static %}
{% block body %}
{% include  'base/search.html' %}
{% load persian_date %}
    <!-- /search -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-xl-8 col-lg-8 order-2 order-lg-1">
                <div id="section_1">
                    <div class="tab-content box_general_3 shadow-0-m p-m-1">
                        {% if days %}
                            <div class="tab-pane fade show active text-center" id="book" role="tabpanel">

                                <!-- انتخاب روز -->
                                <div class="flex bg-bluelight p-t-20 p-b-0 rounded" id="day-selection">
                                    <button class="btn-scroll2 icon-right-open-big" id="slideRight"
                                            type="button"></button>
                                    <div id="contain" class="form-group add_bottom_45 flex scrollable">
                                        {% for day in days %}
                                            <div class="w-auto mx-2 my-2 day-card"
                                                 data-date="{{ day.date|date:'Y-m-d' }}">
                                                <button class="btn btn-outline-dark spacer day-btn fs-12"
                                                        style="height: 70px;width: 80px">
                                                    {{ day.date|persian_weekday }}<br>
                                                    {{ day.date|date:'j' }} {{ day.date|persian_month_name }}
                                                    <br>
                                                    <small>{{ day.slots|length }} نوبت خالی </small><br>
                                                </button>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button id="slideLeft" class="btn-scroll2 icon-left-open-big"
                                            type="button"></button>
                                </div>

                                <!-- نمایش ساعت‌ها -->
                                <div id="time-slot-container" class="mt-3" style="display: none;">
                                    <ul class="legend">
                                        <li><strong></strong>نوبت های خالی</li>
                                        <li><strong></strong>نوبت های رزرو شده</li>
                                    </ul>
                                    <div id="time-slots" class="row"></div>
                                </div>

                                <!-- فرم رزرو -->
                                <div class="hidden" id="information">
                                    <div id="formModal" class="modal text-right">
                                        <div class="modal-content">
                                            <span class="close" onclick="closeFormModal()">&times;</span>
                                            <div id="booking-form" style="display: none;">
                                                <div class="alert alert-info mt-3">
                                                    شما در حال رزرو نوبت برای: <strong
                                                        id="appointment-date-time"></strong><br>
                                                    هزینه ویزیت: {{ doctor.consultation_fee }} تومان
                                                </div>

                                                <form method="post" id="resform">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="date" id="form-date">
                                                    <input type="hidden" name="time" id="form-time">

                                                    <div class="row text-right mt-3">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>نام<span class="text-danger">*</span></label>
                                                                <input type="text" class="form-control" id="name"
                                                                       name="name"
                                                                       value="

                                                                               {% if request.user.is_authenticated %}{{ request.user.get_full_name }}{% endif %}"
                                                                       required>
                                                                <small class="text-danger font-weight-light"
                                                                       id="name_alarm"></small>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>شماره موبایل<span
                                                                        class="text-danger">*</span></label>
                                                                <input type="tel" class="form-control" id="phone"
                                                                       name="phone"
                                                                       value="

                                                                               {% if request.user.is_authenticated %}{{ request.user.phone }}{% endif %}"
                                                                       required>
                                                                <small class="text-danger font-weight-light"
                                                                       id="phone_alarm"></small>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>کد ملی<span class="text-danger">*</span></label>
                                                                <input type="text" class="form-control" id="meli_code"
                                                                       name="meli_code">
                                                                <small class="text-danger font-weight-light"
                                                                       id="code_alarm"></small>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="custom-gender-toggle">
                                                                <input type="radio" id="male-option" name="gender"
                                                                       value="M"
                                                                       checked>
                                                                <label for="male-option">آقا هستم</label>
                                                                <input type="radio" id="female-option" name="gender"
                                                                       value="F">
                                                                <label for="female-option">خانم هستم</label>
                                                                <div class="custom-slider"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 centered">
                                                            <button type="submit"
                                                                    class="btn btn-info dr_bg m-t-20 w-full rounded">
                                                                ثبت نوبت
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% else %}
                            <p class="box_general bg-light-yellow text-center icon-attention-alt-1">در حال حاضر نوبت
                                فعالی برای این پزشک وجود ندارد</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- سایدبار پزشک -->
            <aside class="col-xl-4 col-lg-4 order-1 order-lg-2">
                <div class="profile box_general_3 border-0-m">
                    <div class="row parent-container">
                        <div class="col-lg-12 col-md-4">
                            <figure>
                                <a class="dr_box2">
                                    <img src="{{ doctor.profile_image.url }}" alt="{{ doctor.user.get_full_name }}"
                                         class="dr_img">
                                    <i class="icon-star-5 text-primary"><small>{{ doctor.comment_rate }}</small></i>
                                </a>
                            </figure>
                        </div>
                        <div class="col-lg-12 col-md-12 text-center">
                            <h1>دکتر {{ doctor.user.get_full_name }}</h1>
                            <small>تخصص : {{ doctor.specialization }} </small>
                            <p class="text-gray-600 fs-12">هزینه ویزیت : {{ doctor.consultation_fee }} </p>
                        </div>
                        <a class="btn btn-outline-info col-lg-12" href="{% url 'doctors:doctor_detail' doctor.id %}">پروفایل
                            پزشک</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <!-- jQuery و اسکریپت -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            const slotsByDate = {
                {% for day in days %}
                    "{{ day.date|date:'Y-m-d' }}": [
                        {% for slot in day.slots %}
                            "{{ slot|time:'H:i' }}",
                        {% endfor %}
                    ],
                {% endfor %}
            };

            // انتخاب روز
            $('.day-card').click(function () {
                const date = $(this).data('date');
                const slots = slotsByDate[date] || [];

                $('#form-date').val(date);
                $('#form-time').val('');
                $('#time-slots').empty();
                $('#booking-form').hide();

                if (slots.length > 0) {
                    $('#time-slot-container').show();
                    slots.forEach(time => {
                        const [hour, minute] = time.split(':');
                        const timeDisplay = `${hour}:${minute}`;

                        $('#time-slots').append(`
                    <div class="col-md-3 col-6 mb-2">
                        <button onclick="showFormModal()"   class="btn btn-outline-success time-slot-btn w-100"  data-time="${time}" data-date="${date}">
                            ${timeDisplay}
                        </button>
                    </div>
                `);
                    });
                } else {
                    $('#time-slot-container').hide();
                }
            });

            // انتخاب ساعت
            $(document).on('click', '.time-slot-btn', function () {
                const time = $(this).data('time');
                const date = $(this).data('date');

                $('#form-time').val(time);
                $('#appointment-date-time').text(date + ' ساعت ' + time);
                $('#booking-form').slideDown();
            });

            // اعتبارسنجی فرم
            $('#resform').submit(function (e) {
                const name = $('#name').val().trim();
                const phone = $('#phone').val().trim();
                const meli_code = $('#meli_code').val().trim();

                $('.text-danger').text('');
                $('.form-control').removeClass('border-danger');

                let isValid = true;

                if (name.length < 3) {
                    $('#name').addClass('border-danger');
                    $('#name_alarm').text('نام باید حداقل ۳ حرف باشد.');
                    isValid = false;
                }

                if (!/^0\d{10}$/.test(phone)) {
                    $('#phone').addClass('border-danger');
                    $('#phone_alarm').text('شماره تلفن باید با ۰ شروع شود و ۱۱ رقم باشد.');
                    isValid = false;
                }

                if (!/^\d{10}$/.test(meli_code)) {
                    $('#meli_code').addClass('border-danger');
                    $('#code_alarm').text('کد ملی باید ۱۰ رقم باشد.');
                    isValid = false;
                }

                if (!isValid) e.preventDefault();
            });

            // اسکرول افقی
            $('#slideRight').on("mousedown", function () {
                $('#contain').animate({scrollLeft: '+=350'}, 300);
            });

            $('#slideLeft').on("mousedown", function () {
                $('#contain').animate({scrollLeft: '-=350'}, 300);
            });
        });
    </script>
    <script>
        function showFormModal() {
            document.getElementById("information").classList.remove("hidden");
        }

        function closeFormModal() {
            document.getElementById("information").classList.add("hidden");
        }
    </script>
{% endblock %}
