{% extends  'base/base.html' %}
{% load static %}
{% block body %}
    <div class="bg-light">
        <div class="container margin_120_95">
            <div class="row">
                {% include  'account/dashbord_sidebar.html' %}
                <div class="col-lg-8 ml-auto">
                    <div class="box_general_3 border-0">
                        <div class="row">
                            <div class="col-md-12 p-t-10">
                                <div>
                                    <form method="post" action="{% url 'wallet:withdraw' %}">
                                        {% csrf_token %}
                                        <div class="mb-4">
                                            <label for="id_amount">برداشت وجه</label>
                                        <p class="icon-wallet">موجودی فعلی {{ wallet.balance }}</p>
                                            <button class="btn btn-scroll2">10000 تومان</button>
                                            <button class="btn btn-scroll2">50000 تومان</button>
                                            <button class="btn btn-scroll2">80000 تومان</button>
                                            <button class="btn btn-scroll2">100000 تومان</button>
                                            <input type="text" name="amount" id="id_amount"
                                                   value="{{ form.amount.value|default_if_none:'' }}"
                                                   class="form-control"
                                                   placeholder="مبلع دلخواه خود را وارد کنید">
                                            {% if form.amount.errors %}
                                                <small class="text-danger">{{ form.amount.errors }}</small>
                                            {% endif %}
                                        </div>
                                        <div class="text-left">
                                            <button type="submit"
                                                    class="btn btn-danger col-lg-3">
                                                برداشت وجه
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'wallet:wallet_dashboard' %}" class="text_dr_3">&larr;برگرد به کیف پول</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}