{% extends  'base/base.html' %}
{% load static %}
{% block body %}
    <div class="filters_listing d-lg-none">
        <div class="container">
            <a href="" class="text-dr"><i class="icon-right-open"></i>داشبورد</a>
        </div>
    </div>
    <div class="bg-light">
        <div class="container margin_120_95">
            <div class="row">
                {% include  'patients/dashbord_sidebar.html' %}

                <div class="col-lg-8 ml-auto">

                    <div class="box_general_4 border-0">
                        <div class="row">
                            <div class="col-md-6 p-t-10">
                                <div>
                                    <p class="font-weight-light icon-wallet"> موجودی : <br><br><span
                                            class="font-weight-bold p-r-40">
                            {{ balance|floatformat:2 }} تومان </span></p>
                                </div>
                            </div>
                            <div class="col-md-6 p-t-10">
                                <div>
                                    <a href="#deposit-modal" class="btn btn-primary m-t-20 m-l-14">+ افزایش
                                        اعتبار</a>
                                    <a href="#withdraw-modal" class="btn btn-danger m-t-20"> برداشت وجه</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if messages %}
                        <div class="mb-4">
                            {% for message in messages %}
                                <div class="p-3 mb-2 rounded-10 {% if message.tags == 'success' %}alert-success
                                {% elif message.tags == 'error' %} alert-danger{% else %} alert-info{% endif %}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="box_form border-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <h5 class="icon-retweet">سوابق تراکنش</h5>
                                    <div class="text-left">
                                        <a href="{% url 'wallet:transaction_list' %}">همه تراکنش ها
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-t-10">
                                <div class="bg-white shadow rounded-lg p-6">
                                    {% if recent_transactions %}
                                        <div class="overflow-x-auto">
                                            <table class="min-w-full divide-y divide-gray-200">
                                                <thead class="bg-gray-50">
                                                <tr class="table">
                                                    <th class="table-active text-center">نوع تراکنش</th>
                                                    <th class="table-active text-center">مقدار</th>
                                                    <th class="table-active text-center">تاریخ</th>
                                                    <th class="table-active text-center">وضعیت</th>
                                                </tr>
                                                </thead>

                                                <tbody class="table-light">
                                                {% for transaction in recent_transactions %}
                                                    <tr>
                                                        <td class="text-center">
                                                            {{ transaction.get_transaction_type_display }}
                                                        </td>
                                                        <td class="text-center">
                                                            {% if transaction.transaction_type in 'deposit,refund' %}
                                                                <span class="text-success">{{ transaction.amount }} +  تومان </span>
                                                            {% else %}
                                                                <span class="text-danger ">{{ transaction.amount }} - تومان </span>
                                                            {% endif %}
                                                        </td>

                                                        <td class="px-6 py-4 text-center">
                                                            {{ transaction.created_at|date:"Y/m/d" }}
                                                        </td>
                                                        <td class="px-6 py-4 text-center fs-10">
                                                                       <button class="border-0 rounded-10 px-2 text-white 
                                                {% if transaction.status == 'completed' %}bg-success
                                                {% elif transaction.status == 'pending' %}bg-warning
                                                {% elif transaction.status == 'failed' %}bg-danger
                                                {% elif transaction.status == 'cancelled' %}bg-dark
                                                {% endif %}" onclick="alert('{{ transaction.description|default:"" }}')" title="{{ transaction.description|default:"" }}">
                                                {{ transaction.get_status_display }}
                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        </div>
                                    {% else %}
                                        <p class="text-capitalize icon-info font-weight-light">هنوز تراکنشی انجام نداده
                                            اید</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}