{% extends  'base/base.html' %}
{% load static %}
{% block body %}
    <!-- Search-bar -->
    <div class="filters_listing">
        <div class="container">
            <ul class="clearfix">
                <form method="post" action="list.html">
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class="search-query" placeholder="جستجو....">
                            <input type="submit" class="btn_search" style="border-radius: 50px" value="جستجو">
                        </div>
                    </div>
                </form>
            </ul>
        </div>
    </div>
    <!-- /Search-bar -->

    <div class="container margin_60">
        <div class="row">
            <!--sidebar-->
            <aside class="col-lg-3 aside-border bg-gradiant2 order-2 order-lg-0">
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="icon-article-alt-1"></i>آخرین مقاله ها</h4>
                    </div>
                    <ul class="comments-list">
                        {% for article in articles_last %}
                        <li>
                            <div class="alignleft">
                                <a href="{{ article.get_absolute_url }}"><img
                                        src="{{ article.image.url }}"
                                        alt=""></a>
                            </div>
                            <h3><a href="{{ article.get_absolute_url }}" title="">{{ article.title }}</a></h3>
                            <small>{{ article.description|truncatechars:60 }}</small>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget">
                    <div class="widget-title">
                        <h4><i class="icon-tags-1"></i>دسته بندی</h4>
                    </div>
                    <ul class="cats">
                        {% for item in category %}
                        <li><a href="#">{{ item.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
            <!--/sidebar-->
            
            <div class="col-lg-9">
                <div class="postmeta">
                    <ul>
                        <li><a href="#"><i class="icon-bookmark-empty-1"></i> {{ object.category }}</a></li>
                        <li><a href="#"><i class="icon-calendar-7"></i>{{ object.JaliliDatepublished }}</a></li>
                        <li><a href="#"><i class="icon-edit-3"></i>{{ object.writer.username }}</a></li>
                        <li><a href="#">14<i class="icon_comment_alt" style="margin-left: 3px"></i></a></li>
                    </ul>
                </div>
                <div class="bloglist singlepost">
                    <p><img alt="" class="img-fluid" style="border-radius: 20px; width: 1000px;height: 300px"
                            src="{{ object.image.url }}">
                    </p>
                    <h1>{{ object.title }}</h1>
                    <div class="post-content">
                        <div>
                            <p>{{ object.description }}</p>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
                <hr>

                <!--Comments-->
                <nav>
                    <div class="container">
                        <a class="font-weight-bold"> دیدگاه خودتان را بنویسید(4
                            دیدگاه ثبت شده است)</a>
                    </div>
                </nav>
                <div>
                    <div class="reviews-container">
                        <div class="row text-left">
                            <div>
                                <form method="post" id="comment_content">
                                    {% csrf_token %}
                                    <div class="col-md-auto form-group">
                                        <input id="name" name="name" type="text" class="form-control"
                                               placeholder="نام خود را وارد کنید">
                                    </div>
                                    <div class="col-md-12 form-group">
                                                <textarea id="text" name="text" class="form-control" cols="100" rows="6"
                                                          placeholder="پیام خود را بنویسید"></textarea>
                                    </div>
                                    <input hidden id="parent_id" name="parent_id" value="">
                                    <button type="submit"
                                            class="btn btn-success mx-3">
                                        ثبت دیدگاه
                                    </button>
                                </form>

                                <!-- /row -->
                            </div>
                        </div>
                        <!-- /row -->

                        <hr>
                        <div class="review-box clearfix">
                            <div class="border-bottom">
                                <div class="rev-header">
                                    <div class="rev-info font-weight-bold"><i class="icon-user-female"></i>مهناز</div>
                                    <small class="text-left text_dr_3">2 دی 1403</small>

                                </div>
                                <div class="rev-text m-t-20">
                                    <p>
                                        سلام ممنونم پست خوبی بود
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="review-box clearfix">
                            <div class="border-bottom">
                                <div class="rev-header">
                                    <div class="rev-info font-weight-bold"><i class="icon-user-female"></i>علی رحیمی
                                    </div>
                                    <small class="text-left text_dr_3">1 دی 1403</small>

                                </div>
                                <div class="rev-text m-t-20">
                                    <p>
                                        به نظر من که غلطه
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="review-box clearfix">
                            <div class="border-bottom">
                                <div class="rev-header">
                                    <div class="rev-info font-weight-bold"><i class="icon-user-female"></i>سعید</div>
                                    <small class="text-left text_dr_3">2 دی 1403</small>

                                </div>
                                <div class="rev-text m-t-20">
                                    <p>
                                        سپاس
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="review-box clearfix">
                            <div class="border-bottom">
                                <div class="rev-header">
                                    <div class="rev-info font-weight-bold"><i class="icon-user-female"></i>مهسا</div>
                                    <small class="text-left text_dr_3">1 دی 1403</small>

                                </div>
                                <div class="rev-text m-t-20">
                                    <p>
                                        عالی بود
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End review-container -->
                </div>
                <!--Comment-->
            </div>
        </div>
    </div>


{% endblock %}